.desktop-form {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop-form .cell-form {
  background-color: #ffffff;
  border: 1px none;
  position: relative;
}

.desktop-form .text-wrapper {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 45px;
  font-weight: 700;
  left: 28px;
  letter-spacing: 1.8px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 117px;
  width: 366px;
}

.desktop-form .send-wrapper {
  background-color: #0536a8;
  height: 266px;
  left: 0;
  position: absolute;
  top: 646px;
  width: 430px;
}

.desktop-form .send {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 26.8px;
  font-weight: 300;
  height: 44px;
  left: 81px;
  letter-spacing: 1.34px;
  line-height: 17.4px;
  position: absolute;
  text-align: center;
  top: 110px;
  width: 268px;
}

.desktop-form .overlap {
  height: 84px;
  left: 626px;
  position: absolute;
  top: 251px;
  width: 256px;
}

.desktop-form .rectangle {
  background-color: #ffffff;
  border: 0.7px solid;
  border-color: #000000;
  border-radius: 4px;
  height: 65px;
  left: 0;
  position: absolute;
  top: 18px;
  width: 256px;
}

.desktop-form .overlap-wrapper {
  height: 36px;
  left: 19px;
  position: absolute;
  top: 0;
  width: 126px;
}

.desktop-form .overlap-group {
  background-color: #ffffff;
  height: 36px;
  position: relative;
  width: 124px;
}

.desktop-form .div {
  color: #0a3749;
  font-family: "Nunito", Helvetica;
  font-size: 22px;
  font-weight: 500;
  left: 3px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
  white-space: nowrap;
  width: 120px;
}

.desktop-form .overlap-2 {
  height: 85px;
  left: 624px;
  position: absolute;
  top: 372px;
  width: 559px;
}

.desktop-form .rectangle-2 {
  background-color: #ffffff;
  border: 0.7px solid;
  border-color: #000000;
  border-radius: 4px;
  height: 65px;
  left: 0;
  position: absolute;
  top: 19px;
  width: 559px;
}

.desktop-form .overlap-group-wrapper {
  height: 36px;
  left: 28px;
  position: absolute;
  top: 0;
  width: 78px;
}

.desktop-form .div-wrapper {
  background-color: #ffffff;
  height: 36px;
  position: relative;
  width: 76px;
}

.desktop-form .text-wrapper-2 {
  color: #0a3749;
  font-family: "Nunito", Helvetica;
  font-size: 22px;
  font-weight: 500;
  left: 3px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
  white-space: nowrap;
  width: 67px;
}

.desktop-form .overlap-3 {
  height: 134px;
  left: 624px;
  position: absolute;
  top: 488px;
  width: 559px;
}

.desktop-form .img {
  height: 116px;
  left: 0;
  position: absolute;
  top: 18px;
  width: 559px;
}

.desktop-form .group-2 {
  height: 36px;
  left: 28px;
  position: absolute;
  top: 0;
  width: 139px;
}

.desktop-form .overlap-4 {
  height: 36px;
  position: relative;
  width: 137px;
}

.desktop-form .rectangle-3 {
  background-color: #ffffff;
  height: 36px;
  left: 0;
  position: absolute;
  top: 0;
  width: 124px;
}

.desktop-form .text-wrapper-3 {
  color: #0a3749;
  font-family: "Nunito", Helvetica;
  font-size: 22px;
  font-weight: 500;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
  white-space: nowrap;
  width: 122px;
}

.desktop-form .overlap-5 {
  height: 84px;
  left: 913px;
  position: absolute;
  top: 251px;
  width: 256px;
}

.desktop-form .group-3 {
  height: 36px;
  left: 15px;
  position: absolute;
  top: 0;
  width: 126px;
}

.desktop-form .text-wrapper-4 {
  color: #0a3749;
  font-family: "Nunito", Helvetica;
  font-size: 22px;
  font-weight: 500;
  left: 7px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
  white-space: nowrap;
  width: 105px;
}

.desktop-form .group-4 {
  height: 64px;
  left: 625px;
  position: absolute;
  top: 658px;
  width: 590px;
}

.desktop-form .overlap-group-2 {
  background-color: #ffe061;
  border-radius: 7px;
  height: 64px;
  position: relative;
  width: 588px;
}

.desktop-form .text-wrapper-5 {
  color: #0a3749;
  font-family: "Inter", Helvetica;
  font-size: 27px;
  font-weight: 400;
  left: 235px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15px;
  width: 168px;
}

.desktop-form .line {
  height: 1px;
  left: 613px;
  object-fit: cover;
  position: absolute;
  top: 218px;
  width: 588px;
}

.desktop-form .lady-instance {
  background-image: url(../../../static/img/whatsapp-image-2023-07-12-at-12-41-1-2.png) !important;
  height: 364px !important;
  left: 132px !important;
  position: absolute !important;
  top: 358px !important;
  width: 280px !important;
}

.desktop-form .magma-translation {
  position: absolute;
}

.desktop-form .h-1 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 45px;
  font-weight: 700;
  left: 607px;
  letter-spacing: 1.8px;
  line-height: normal;
  position: absolute;
  top: 56px;
  width: 599px;
}

.desktop-form .overlap-6 {
  height: 83px;
  left: 62px;
  position: absolute;
  top: 438px;
  width: 296px;
}

.desktop-form .rectangle-4 {
  background-color: #ffffff;
  border: 0.7px solid;
  border-color: #000000;
  border-radius: 4px;
  height: 65px;
  left: 0;
  position: absolute;
  top: 17px;
  width: 296px;
}

.desktop-form .group-5 {
  height: 36px;
  left: 27px;
  position: absolute;
  top: 0;
  width: 78px;
}

.desktop-form .just-send-us-your-e {
  color: #000000;
  font-family: "Nunito", Helvetica;
  font-size: 22px;
  font-weight: 500;
  left: 56px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 347px;
}
