.celular {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.celular .div-2 {
  background-color: #ffffff;
  position: relative;
}

.celular .h-1 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 48px;
  font-weight: 700;
  left: 28px;
  letter-spacing: 1.92px;
  line-height: 70.1px;
  position: absolute;
  text-align: center;
  top: 117px;
  width: 366px;
}

.celular .element-languages-that {
  color: #383836;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 199px;
  left: 5px;
  letter-spacing: 0.6px;
  line-height: 66.3px;
  position: absolute;
  text-align: center;
  top: 396px;
  width: 421px;
}

.celular .class {
  background-image: url(../../../static/img/whatsapp-image-2023-07-12-at-12-41-1.png) !important;
  height: 303px !important;
  left: 714px !important;
  position: absolute !important;
  top: 189px !important;
  width: 233px !important;
}

.celular .class-2 {
  background-image: url(../../../static/img/whatsapp-image-2023-07-12-at-12-41-1-2.png) !important;
  height: 364px !important;
  left: 857px !important;
  position: absolute !important;
  top: 227px !important;
  width: 280px !important;
}

.celular .class-3 {
  background-image: url(../../../static/img/whatsapp-image-2023-07-12-at-12-41-1-2.png) !important;
  height: 364px !important;
  left: 956px !important;
  position: absolute !important;
  top: 227px !important;
  width: 280px !important;
}

.celular .class-4 {
  background-image: url(../../../static/img/whatsapp-image-2023-07-12-at-12-41-1-2.png) !important;
  height: 364px !important;
  left: 957px !important;
  position: absolute !important;
  top: 227px !important;
  width: 280px !important;
}

.celular .class-5 {
  background-image: url(../../../static/img/whatsapp-image-2023-07-12-at-12-41-1-2.png) !important;
  height: 364px !important;
  left: 1026px !important;
  position: absolute !important;
  top: 245px !important;
  width: 280px !important;
}

.celular .p {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .text-wrapper-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .img {
  position: absolute;
}

.celular .overlap {
  background-size: 100% 100%;
  position: absolute;
}

.celular .text-wrapper-3 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .law {
  position: absolute;
}

.celular .overlap-2 {
  background-size: 100% 100%;
  position: absolute;
}

.celular .media-films {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .next {
  position: absolute;
}

.celular .overlap-3 {
  border-color: #c8982a;
  position: absolute;
}

.celular .text-wrapper-4 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .medical-bag {
  position: absolute;
}

.celular .overlap-4 {
  border-color: #c8982a;
  position: absolute;
}

.celular .text-wrapper-5 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .MBA {
  position: absolute;
}

.celular .overlap-5 {
  border-color: #c8982a;
  position: absolute;
}

.celular .text-wrapper-6 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .manufacturing {
  position: absolute;
}

.celular .overlap-6 {
  border-color: #c8982a;
  position: absolute;
}

.celular .text-wrapper-7 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .tesla-model-x {
  position: absolute;
}

.celular .overlap-7 {
  border-color: #c8982a;
  position: absolute;
}

.celular .text-wrapper-8 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .money-bag-pounds {
  position: absolute;
}

.celular .overlap-8 {
  border-color: #c8982a;
  position: absolute;
}

.celular .text-wrapper-9 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .commercial {
  position: absolute;
}

.celular .overlap-9 {
  border-color: #c8982a;
  position: absolute;
}

.celular .IT-software {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .programming-flag {
  position: absolute;
}

.celular .overlap-group-2 {
  border-color: #c8982a;
  position: absolute;
}

.celular .text-wrapper-10 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .biotech {
  position: absolute;
}

.celular .overlap-10 {
  border-color: #c8982a;
  position: absolute;
}

.celular .text-wrapper-11 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .plane {
  position: absolute;
}

.celular .overlap-11 {
  border-color: #c8982a;
  position: absolute;
}

.celular .text-wrapper-12 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .buy {
  position: absolute;
}

.celular .text-wrapper-13 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .text-wrapper-14 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
}

.celular .overlap-12 {
  border-color: #c8982a;
  position: absolute;
}

.celular .document-translation {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .PDF {
  position: absolute;
}

.celular .overlap-13 {
  border-color: #c8982a;
  position: absolute;
}

.celular .marketing-material {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .goal {
  position: absolute;
}

.celular .overlap-14 {
  border-color: #c8982a;
  position: absolute;
}

.celular .website-apps {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .website {
  position: absolute;
}

.celular .overlap-15 {
  border-color: #c8982a;
  position: absolute;
}

.celular .text-wrapper-15 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .video-camera {
  position: absolute;
}

.celular .overlap-16 {
  border-color: #c8982a;
  position: absolute;
}

.celular .text-wrapper-16 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .e-commerce {
  position: absolute;
}

.celular .overlap-17 {
  border-color: #c8982a;
  position: absolute;
}

.celular .text-wrapper-17 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .biotech-2 {
  position: absolute;
}

.celular .group-2 {
  position: absolute;
}

.celular .text-wrapper-18 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  left: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.celular .element-languages-that-2 {
  color: #383836;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  left: 0;
  position: absolute;
}

.celular .class-6 {
  font-size: 17.1px !important;
  height: 8px !important;
  left: 52px !important;
  letter-spacing: 0.85px !important;
  line-height: 11.1px !important;
  top: 19px !important;
  width: 171px !important;
}

.celular .class-7 {
  font-size: 20.5px !important;
  left: 62px !important;
  letter-spacing: 1.03px !important;
  line-height: 13.3px !important;
  width: 205px !important;
}

.celular .class-8 {
  border-radius: 23.45px !important;
  height: 47px !important;
  left: 0 !important;
  position: absolute !important;
  top: 290px !important;
  width: 274px !important;
}

.celular .class-9 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 0 !important;
  position: absolute !important;
  top: 348px !important;
  width: 329px !important;
}

.celular .class-10 {
  border-radius: 23.45px !important;
  height: 47px !important;
  left: 361px !important;
  position: absolute !important;
  top: 1448px !important;
  width: 274px !important;
}

.celular .class-11 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 433px !important;
  position: absolute !important;
  top: 1739px !important;
  width: 329px !important;
}

.celular .class-12 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 482px !important;
  position: absolute !important;
  top: 1739px !important;
  width: 329px !important;
}

.celular .class-13 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 532px !important;
  position: absolute !important;
  top: 1739px !important;
  width: 329px !important;
}

.celular .class-14 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 582px !important;
  position: absolute !important;
  top: 1739px !important;
  width: 329px !important;
}

.celular .class-15 {
  border-radius: 23.45px !important;
  height: 47px !important;
  left: 361px !important;
  position: absolute !important;
  top: 2614px !important;
  width: 274px !important;
}

.celular .class-16 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 433px !important;
  position: absolute !important;
  top: 3139px !important;
  width: 329px !important;
}

.celular .class-17 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 482px !important;
  position: absolute !important;
  top: 3139px !important;
  width: 329px !important;
}

.celular .class-18 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 532px !important;
  position: absolute !important;
  top: 3139px !important;
  width: 329px !important;
}

.celular .class-19 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 582px !important;
  position: absolute !important;
  top: 3139px !important;
  width: 329px !important;
}

.celular .our-growth-would-not {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
}

.celular .text-wrapper-19 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
}

.celular .we-are-a-german {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
}

.celular .text-wrapper-20 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .every-translation {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
}

.celular .text-wrapper-21 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.celular .text-wrapper-22 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.celular .text-wrapper-23 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.celular .text-wrapper-24 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.celular .text-wrapper-25 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.celular .text-wrapper-26 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.celular .ellipse {
  object-fit: cover;
  position: absolute;
}

.celular .ellipse-2 {
  object-fit: cover;
  position: absolute;
}

.celular .ellipse-3 {
  object-fit: cover;
  position: absolute;
}

.celular .star {
  position: absolute;
}

.celular .star-2 {
  position: absolute;
}

.celular .star-3 {
  position: absolute;
}

.celular .star-4 {
  position: absolute;
}

.celular .star-5 {
  position: absolute;
}

.celular .star-6 {
  position: absolute;
}

.celular .star-7 {
  position: absolute;
}

.celular .star-8 {
  position: absolute;
}

.celular .star-9 {
  position: absolute;
}

.celular .star-10 {
  position: absolute;
}

.celular .star-11 {
  position: absolute;
}

.celular .star-12 {
  position: absolute;
}

.celular .star-13 {
  position: absolute;
}

.celular .star-14 {
  position: absolute;
}

.celular .star-15 {
  position: absolute;
}

.celular .magma-translation-2 {
  position: absolute;
}

.celular .frame {
  position: absolute;
}

.celular .text-wrapper-27 {
  color: #ffffff;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
}

.celular .text-wrapper-28 {
  color: #ffffff;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  white-space: nowrap;
}

.celular .click-to-discover-2 {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 26.8px;
  font-weight: 300;
  height: 26px;
  left: 81px;
  letter-spacing: 1.34px;
  line-height: 17.4px;
  position: absolute;
  text-align: center;
  top: 65px;
  width: 268px;
}

.celular .magma-translation-3 {
  height: 54px;
  left: 118px;
  position: absolute;
  top: 34px;
  width: 194px;
}
