.celular {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.celular .div-2 {
  background-color: #ffffff;
  position: relative;
}

.celular .text-wrapper-6 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 55px;
  font-weight: 700;
  left: 28px;
  letter-spacing: 2.2px;
  line-height: 80.3px;
  position: absolute;
  text-align: center;
  top: 117px;
  width: 366px;
}

.celular .element-languages-that {
  color: #383836;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 199px;
  left: 5px;
  letter-spacing: 0.6px;
  line-height: 66.3px;
  position: absolute;
  text-align: center;
  top: 396px;
  width: 421px;
}

.celular .click-to-discover-wrapper {
  background-color: #0536a8;
  height: 266px;
  left: 0;
  position: absolute;
  top: 646px;
  width: 430px;
}

.celular .click-to-discover {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 26.8px;
  font-weight: 300;
  height: 44px;
  left: 81px;
  letter-spacing: 1.34px;
  line-height: 17.4px;
  position: absolute;
  text-align: center;
  top: 110px;
  width: 268px;
}

.celular .class {
  background-image: url(../../../static/img/whatsapp-image-2023-07-12-at-12-41-1-2.png) !important;
  height: 303px !important;
  left: 714px !important;
  position: absolute !important;
  top: 189px !important;
  width: 233px !important;
}

.celular .class-2 {
  background-image: url(../../../static/img/whatsapp-image-2023-07-12-at-12-41-1-3.png) !important;
  height: 364px !important;
  left: 857px !important;
  position: absolute !important;
  top: 227px !important;
  width: 280px !important;
}

.celular .p {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .text-wrapper-7 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .zapier-png {
  position: absolute;
}

.celular .overlap-6 {
  background-image: url(../../../static/img/rectangle-19.png);
  background-size: 100% 100%;
  height: 116px;
  left: 53px;
  position: absolute;
  top: 1097px;
  width: 127px;
}

.celular .text-wrapper-8 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 16.7px;
  font-weight: 700;
  left: 42px;
  letter-spacing: 0.67px;
  line-height: normal;
  position: absolute;
  top: 82px;
}

.celular .law {
  height: 32px;
  left: 47px;
  position: absolute;
  top: 26px;
  width: 32px;
}

.celular .overlap-7 {
  background-image: url(../../../static/img/rectangle-36.png);
  background-size: 100% 100%;
  height: 116px;
  left: 53px;
  position: absolute;
  top: 1269px;
  width: 127px;
}

.celular .media-films {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 16.7px;
  font-weight: 700;
  left: 7px;
  letter-spacing: 0.67px;
  line-height: normal;
  position: absolute;
  top: 79px;
}

.celular .img-2 {
  height: 32px;
  left: 47px;
  position: absolute;
  top: 23px;
  width: 32px;
}

.celular .overlap-8 {
  border: 0.83px solid;
  border-color: #c8982a;
  height: 116px;
  left: 206px;
  position: absolute;
  top: 1097px;
  width: 127px;
}

.celular .text-wrapper-9 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 16.7px;
  font-weight: 700;
  left: 31px;
  letter-spacing: 0.67px;
  line-height: normal;
  position: absolute;
  top: 82px;
}

.celular .overlap-9 {
  border: 0.83px solid;
  border-color: #c8982a;
  height: 116px;
  left: 206px;
  position: absolute;
  top: 1269px;
  width: 127px;
}

.celular .text-wrapper-10 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 16.7px;
  font-weight: 700;
  left: 20px;
  letter-spacing: 0.67px;
  line-height: normal;
  position: absolute;
  top: 82px;
}

.celular .overlap-10 {
  border: 0.83px solid;
  border-color: #c8982a;
  height: 116px;
  left: 360px;
  position: absolute;
  top: 1097px;
  width: 127px;
}

.celular .text-wrapper-11 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 16.7px;
  font-weight: 700;
  left: 3px;
  letter-spacing: 0.67px;
  line-height: normal;
  position: absolute;
  top: 82px;
}

.celular .overlap-11 {
  border: 0.83px solid;
  border-color: #c8982a;
  height: 116px;
  left: 360px;
  position: absolute;
  top: 1269px;
  width: 127px;
}

.celular .text-wrapper-12 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 16.7px;
  font-weight: 700;
  left: 16px;
  letter-spacing: 0.67px;
  line-height: normal;
  position: absolute;
  top: 82px;
}

.celular .overlap-12 {
  border: 0.83px solid;
  border-color: #c8982a;
  height: 116px;
  left: 513px;
  position: absolute;
  top: 1097px;
  width: 127px;
}

.celular .text-wrapper-13 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 16.7px;
  font-weight: 700;
  left: 27px;
  letter-spacing: 0.67px;
  line-height: normal;
  position: absolute;
  top: 82px;
}

.celular .money-bag-pounds {
  height: 32px;
  left: 41px;
  position: absolute;
  top: 23px;
  width: 32px;
}

.celular .overlap-group-3 {
  border: 0.83px solid;
  border-color: #c8982a;
  height: 116px;
  left: 513px;
  position: absolute;
  top: 1269px;
  width: 127px;
}

.celular .text-wrapper-14 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 16.7px;
  font-weight: 700;
  left: 22px;
  letter-spacing: 0.67px;
  line-height: normal;
  position: absolute;
  top: 85px;
}

.celular .overlap-13 {
  border: 0.83px solid;
  border-color: #c8982a;
  height: 116px;
  left: 666px;
  position: absolute;
  top: 1097px;
  width: 127px;
}

.celular .overlap-14 {
  border: 0.83px solid;
  border-color: #c8982a;
  height: 116px;
  left: 666px;
  position: absolute;
  top: 1269px;
  width: 127px;
}

.celular .text-wrapper-15 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 16.7px;
  font-weight: 700;
  left: 10px;
  letter-spacing: 0.67px;
  line-height: normal;
  position: absolute;
  top: 82px;
}

.celular .overlap-15 {
  border: 0.83px solid;
  border-color: #c8982a;
  height: 116px;
  left: 819px;
  position: absolute;
  top: 1097px;
  width: 127px;
}

.celular .overlap-16 {
  border: 0.83px solid;
  border-color: #c8982a;
  height: 116px;
  left: 819px;
  position: absolute;
  top: 1269px;
  width: 127px;
}

.celular .text-wrapper-16 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 16.7px;
  font-weight: 700;
  left: 13px;
  letter-spacing: 0.67px;
  line-height: normal;
  position: absolute;
  top: 82px;
}

.celular .text-wrapper-17 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 31.4px;
  font-weight: 700;
  left: 304px;
  letter-spacing: 1.26px;
  line-height: normal;
  position: absolute;
  top: 2157px;
  width: 390px;
}

.celular .text-wrapper-18 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 16.7px;
  font-weight: 400;
  left: 107px;
  letter-spacing: 0.67px;
  line-height: 22.5px;
  position: absolute;
  text-align: center;
  top: 2278px;
  width: 782px;
}

.celular .overlap-17 {
  border: 0.83px solid;
  border-color: #c8982a;
  height: 171px;
  left: 53px;
  position: absolute;
  top: 2374px;
  width: 115px;
}

.celular .document-translation {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 14.2px;
  font-weight: 700;
  left: 26px;
  letter-spacing: 0.57px;
  line-height: normal;
  position: absolute;
  top: 84px;
  width: 88px;
}

.celular .img-3 {
  height: 32px;
  left: 41px;
  position: absolute;
  top: 32px;
  width: 32px;
}

.celular .overlap-18 {
  border: 0.83px solid;
  border-color: #c8982a;
  height: 171px;
  left: 210px;
  position: absolute;
  top: 2374px;
  width: 115px;
}

.celular .marketing-material {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 14.2px;
  font-weight: 700;
  left: 18px;
  letter-spacing: 0.57px;
  line-height: normal;
  position: absolute;
  top: 84px;
  width: 77px;
}

.celular .overlap-19 {
  border: 0.83px solid;
  border-color: #c8982a;
  height: 171px;
  left: 366px;
  position: absolute;
  top: 2374px;
  width: 115px;
}

.celular .website-apps {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 14.2px;
  font-weight: 700;
  left: 29px;
  letter-spacing: 0.57px;
  line-height: normal;
  position: absolute;
  top: 84px;
  width: 64px;
}

.celular .overlap-20 {
  border: 0.83px solid;
  border-color: #c8982a;
  height: 171px;
  left: 523px;
  position: absolute;
  top: 2374px;
  width: 115px;
}

.celular .text-wrapper-19 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 14.2px;
  font-weight: 700;
  left: 24px;
  letter-spacing: 0.57px;
  line-height: normal;
  position: absolute;
  top: 84px;
  width: 81px;
}

.celular .overlap-21 {
  border: 0.83px solid;
  border-color: #c8982a;
  height: 171px;
  left: 679px;
  position: absolute;
  top: 2374px;
  width: 115px;
}

.celular .text-wrapper-20 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 14.2px;
  font-weight: 700;
  left: 15px;
  letter-spacing: 0.57px;
  line-height: normal;
  position: absolute;
  top: 84px;
  width: 97px;
}

.celular .overlap-22 {
  border: 0.83px solid;
  border-color: #c8982a;
  height: 171px;
  left: 832px;
  position: absolute;
  top: 2374px;
  width: 115px;
}

.celular .text-wrapper-21 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 14.2px;
  font-weight: 700;
  left: 17px;
  letter-spacing: 0.57px;
  line-height: normal;
  position: absolute;
  top: 82px;
  width: 97px;
}

.celular .biotech {
  height: 32px;
  left: 34px;
  position: absolute;
  top: 32px;
  width: 32px;
}

.celular .group-5 {
  height: 336px;
  left: 53px;
  position: absolute;
  top: 156px;
  width: 578px;
}

.celular .text-wrapper-22 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 49.8px;
  font-weight: 700;
  left: 0;
  letter-spacing: 1.99px;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 499px;
}

.celular .element-languages-that-2 {
  color: #383836;
  font-family: "Lato", Helvetica;
  font-size: 17.9px;
  font-weight: 700;
  height: 108px;
  left: 0;
  letter-spacing: 0.54px;
  line-height: 35.9px;
  position: absolute;
  top: 151px;
  width: 574px;
}

.celular .group-instance {
  border-radius: 23.45px !important;
  height: 47px !important;
  left: 0 !important;
  position: absolute !important;
  top: 290px !important;
  width: 274px !important;
}

.celular .group-2-instance {
  font-size: 17.1px !important;
  height: 8px !important;
  left: 52px !important;
  letter-spacing: 0.85px !important;
  line-height: 11.1px !important;
  top: 19px !important;
  width: 171px !important;
}

.celular .instance-node {
  border-radius: 23.45px !important;
  height: 47px !important;
  left: 361px !important;
  position: absolute !important;
  top: 1448px !important;
  width: 274px !important;
}

.celular .group-6 {
  border-radius: 23.45px !important;
  height: 47px !important;
  left: 361px !important;
  position: absolute !important;
  top: 2614px !important;
  width: 274px !important;
}

.celular .our-growth-would-not {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 13.3px;
  font-weight: 400;
  left: 97px;
  letter-spacing: 0.53px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 1923px;
  width: 237px;
}

.celular .text-wrapper-23 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 13.3px;
  font-weight: 400;
  left: 379px;
  letter-spacing: 0.53px;
  line-height: 21.8px;
  position: absolute;
  text-align: center;
  top: 1923px;
  width: 237px;
}

.celular .we-are-a-german {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 13.3px;
  font-weight: 400;
  left: 659px;
  letter-spacing: 0.53px;
  line-height: 13.3px;
  position: absolute;
  text-align: center;
  top: 1923px;
  width: 237px;
}

.celular .span {
  line-height: 17.8px;
}

.celular .text-wrapper-24 {
  line-height: 21.8px;
}

.celular .text-wrapper-25 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 30.8px;
  font-weight: 700;
  left: 275px;
  letter-spacing: 1.23px;
  line-height: normal;
  position: absolute;
  top: 1595px;
  width: 447px;
}

.celular .every-translation {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 16.7px;
  font-weight: 400;
  left: 167px;
  letter-spacing: 0.67px;
  line-height: 22.5px;
  position: absolute;
  text-align: center;
  top: 1660px;
}

.celular .text-wrapper-26 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 167px;
  letter-spacing: 0.6px;
  line-height: 24.7px;
  position: absolute;
  text-align: center;
  top: 1865px;
  white-space: nowrap;
}

.celular .text-wrapper-27 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 468px;
  letter-spacing: 0.6px;
  line-height: 24.7px;
  position: absolute;
  text-align: center;
  top: 1865px;
  white-space: nowrap;
}

.celular .text-wrapper-28 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 726px;
  letter-spacing: 0.6px;
  line-height: 24.7px;
  position: absolute;
  text-align: center;
  top: 1865px;
  white-space: nowrap;
}

.celular .text-wrapper-29 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 157px;
  letter-spacing: 0.6px;
  line-height: 24.7px;
  position: absolute;
  text-align: center;
  top: 1833px;
  white-space: nowrap;
}

.celular .text-wrapper-30 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 456px;
  letter-spacing: 0.6px;
  line-height: 24.7px;
  position: absolute;
  text-align: center;
  top: 1833px;
  white-space: nowrap;
}

.celular .text-wrapper-31 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 706px;
  letter-spacing: 0.6px;
  line-height: 24.7px;
  position: absolute;
  text-align: center;
  top: 1833px;
  white-space: nowrap;
}

.celular .ellipse {
  height: 70px;
  left: 176px;
  object-fit: cover;
  position: absolute;
  top: 1742px;
  width: 70px;
}

.celular .ellipse-2 {
  height: 70px;
  left: 462px;
  object-fit: cover;
  position: absolute;
  top: 1740px;
  width: 70px;
}

.celular .ellipse-3 {
  height: 70px;
  left: 766px;
  object-fit: cover;
  position: absolute;
  top: 1742px;
  width: 70px;
}

.celular .star {
  position: absolute;
}

.celular .zf-png {
  position: absolute;
}

.celular .anton-paar-png {
  position: absolute;
}

.celular .crowdin-png {
  position: absolute;
}

.celular .star-2 {
  height: 16px;
  left: 466px;
  position: absolute;
  top: 2061px;
  width: 19px;
}

.celular .star-3 {
  height: 16px;
  left: 745px;
  position: absolute;
  top: 2061px;
  width: 19px;
}

.celular .star-4 {
  height: 16px;
  left: 207px;
  position: absolute;
  top: 2061px;
  width: 19px;
}

.celular .star-5 {
  height: 16px;
  left: 491px;
  position: absolute;
  top: 2061px;
  width: 19px;
}

.celular .star-6 {
  height: 16px;
  left: 770px;
  position: absolute;
  top: 2061px;
  width: 19px;
}

.celular .star-7 {
  height: 16px;
  left: 232px;
  position: absolute;
  top: 2061px;
  width: 19px;
}

.celular .star-8 {
  height: 16px;
  left: 516px;
  position: absolute;
  top: 2061px;
  width: 19px;
}

.celular .star-9 {
  height: 16px;
  left: 795px;
  position: absolute;
  top: 2061px;
  width: 19px;
}

.celular .star-10 {
  height: 16px;
  left: 257px;
  position: absolute;
  top: 2061px;
  width: 19px;
}

.celular .star-11 {
  height: 16px;
  left: 541px;
  position: absolute;
  top: 2061px;
  width: 19px;
}

.celular .star-12 {
  height: 16px;
  left: 820px;
  position: absolute;
  top: 2061px;
  width: 19px;
}

.celular .magma-translation-2 {
  height: 45px;
  left: 53px;
  position: absolute;
  top: 33px;
  width: 162px;
}

.celular .text-wrapper-32 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 16.3px;
  font-weight: 400;
  left: 127px;
  letter-spacing: 0.65px;
  line-height: 26.8px;
  position: absolute;
  text-align: center;
  top: 2849px;
  width: 737px;
}

.celular .text-wrapper-33 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 16.3px;
  font-weight: 400;
  left: 297px;
  letter-spacing: 0.65px;
  line-height: 26.8px;
  position: absolute;
  top: 2952px;
  white-space: nowrap;
  width: 401px;
}

.celular .magma-translation-3 {
  height: 49px;
  left: 408px;
  position: absolute;
  top: 2737px;
  width: 175px;
}

.celular .rectangle-5 {
  height: 70px;
  left: 358px;
  object-fit: cover;
  position: absolute;
  top: 953px;
  width: 101px;
}

.celular .cloudwords-png {
  height: 70px;
  left: 486px;
  position: absolute;
  top: 837px;
  width: 101px;
}

.celular .rectangle-6 {
  height: 70px;
  left: 486px;
  object-fit: cover;
  position: absolute;
  top: 953px;
  width: 101px;
}

.celular .rectangle-7 {
  height: 79px;
  left: 614px;
  object-fit: cover;
  position: absolute;
  top: 837px;
  width: 111px;
}

.celular .rectangle-8 {
  height: 70px;
  left: 614px;
  object-fit: cover;
  position: absolute;
  top: 953px;
  width: 101px;
}

.celular .rectangle-9 {
  height: 70px;
  left: 742px;
  object-fit: cover;
  position: absolute;
  top: 837px;
  width: 101px;
}

.celular .evoltz-png {
  height: 70px;
  left: 742px;
  position: absolute;
  top: 953px;
  width: 101px;
}

.celular .rectangle-10 {
  height: 70px;
  left: 864px;
  object-fit: cover;
  position: absolute;
  top: 837px;
  width: 107px;
}

.celular .jungheinrich-png {
  height: 70px;
  left: 870px;
  position: absolute;
  top: 953px;
  width: 101px;
}

.celular .rectangle-11 {
  height: 70px;
  left: 984px;
  object-fit: cover;
  position: absolute;
  top: 837px;
  width: 115px;
}

.celular .shopee-png {
  height: 70px;
  left: 998px;
  position: absolute;
  top: 953px;
  width: 101px;
}

.celular .overlap-23 {
  background-image: url(../../../static/img/rectangle-19-1.png);
  background-size: 100% 100%;
  height: 139px;
  left: 64px;
  position: absolute;
  top: 1317px;
  width: 152px;
}

.celular .text-wrapper-34 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 51px;
  letter-spacing: 0.8px;
  line-height: normal;
  position: absolute;
  top: 99px;
  white-space: nowrap;
}

.celular .law-2 {
  height: 38px;
  left: 57px;
  position: absolute;
  top: 31px;
  width: 38px;
}

.celular .overlap-24 {
  background-image: url(../../../static/img/rectangle-19-1.png);
  background-size: 100% 100%;
  height: 139px;
  left: 64px;
  position: absolute;
  top: 1524px;
  width: 152px;
}

.celular .media-films-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 8px;
  letter-spacing: 0.8px;
  line-height: normal;
  position: absolute;
  top: 95px;
  white-space: nowrap;
}

.celular .next {
  height: 38px;
  left: 57px;
  position: absolute;
  top: 28px;
  width: 38px;
}

.celular .overlap-25 {
  border: 1px solid;
  border-color: #c8982a;
  height: 139px;
  left: 248px;
  position: absolute;
  top: 1317px;
  width: 152px;
}

.celular .text-wrapper-35 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 37px;
  letter-spacing: 0.8px;
  line-height: normal;
  position: absolute;
  top: 98px;
  white-space: nowrap;
}

.celular .img-4 {
  height: 38px;
  left: 56px;
  position: absolute;
  top: 27px;
  width: 38px;
}

.celular .overlap-26 {
  border: 1px solid;
  border-color: #c8982a;
  height: 139px;
  left: 248px;
  position: absolute;
  top: 1524px;
  width: 152px;
}

.celular .text-wrapper-36 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 24px;
  letter-spacing: 0.8px;
  line-height: normal;
  position: absolute;
  top: 98px;
  white-space: nowrap;
}

.celular .overlap-27 {
  border: 1px solid;
  border-color: #c8982a;
  height: 139px;
  left: 432px;
  position: absolute;
  top: 1317px;
  width: 152px;
}

.celular .text-wrapper-37 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 4px;
  letter-spacing: 0.8px;
  line-height: normal;
  position: absolute;
  top: 98px;
  white-space: nowrap;
}

.celular .overlap-group-4 {
  border: 1px solid;
  border-color: #c8982a;
  height: 139px;
  left: 432px;
  position: absolute;
  top: 1524px;
  width: 152px;
}

.celular .text-wrapper-38 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 19px;
  letter-spacing: 0.8px;
  line-height: normal;
  position: absolute;
  top: 98px;
  white-space: nowrap;
}

.celular .overlap-28 {
  border: 1px solid;
  border-color: #c8982a;
  height: 139px;
  left: 616px;
  position: absolute;
  top: 1317px;
  width: 152px;
}

.celular .text-wrapper-39 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 32px;
  letter-spacing: 0.8px;
  line-height: normal;
  position: absolute;
  top: 98px;
  white-space: nowrap;
}

.celular .money-bag-pounds-2 {
  height: 38px;
  left: 49px;
  position: absolute;
  top: 27px;
  width: 38px;
}

.celular .overlap-29 {
  border: 1px solid;
  border-color: #c8982a;
  height: 139px;
  left: 616px;
  position: absolute;
  top: 1524px;
  width: 152px;
}

.celular .text-wrapper-40 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 26px;
  letter-spacing: 0.8px;
  line-height: normal;
  position: absolute;
  top: 102px;
  white-space: nowrap;
}

.celular .overlap-30 {
  border: 1px solid;
  border-color: #c8982a;
  height: 139px;
  left: 800px;
  position: absolute;
  top: 1317px;
  width: 152px;
}

.celular .overlap-31 {
  border: 1px solid;
  border-color: #c8982a;
  height: 139px;
  left: 800px;
  position: absolute;
  top: 1524px;
  width: 152px;
}

.celular .text-wrapper-41 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 12px;
  letter-spacing: 0.8px;
  line-height: normal;
  position: absolute;
  top: 98px;
  white-space: nowrap;
}

.celular .overlap-32 {
  border: 1px solid;
  border-color: #c8982a;
  height: 139px;
  left: 984px;
  position: absolute;
  top: 1317px;
  width: 152px;
}

.celular .overlap-33 {
  border: 1px solid;
  border-color: #c8982a;
  height: 139px;
  left: 984px;
  position: absolute;
  top: 1524px;
  width: 152px;
}

.celular .text-wrapper-42 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 16px;
  letter-spacing: 0.8px;
  line-height: normal;
  position: absolute;
  top: 98px;
  white-space: nowrap;
}

.celular .text-wrapper-43 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 37.7px;
  font-weight: 700;
  left: 365px;
  letter-spacing: 1.51px;
  line-height: normal;
  position: absolute;
  top: 2591px;
  width: 468px;
}

.celular .text-wrapper-44 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 129px;
  letter-spacing: 0.8px;
  line-height: 27px;
  position: absolute;
  text-align: center;
  top: 2736px;
  width: 939px;
}

.celular .overlap-34 {
  border: 1px solid;
  border-color: #c8982a;
  height: 205px;
  left: 64px;
  position: absolute;
  top: 2851px;
  width: 138px;
}

.celular .document-translation-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 17px;
  font-weight: 700;
  left: 31px;
  letter-spacing: 0.68px;
  line-height: normal;
  position: absolute;
  top: 101px;
  width: 106px;
}

.celular .img-5 {
  height: 38px;
  left: 49px;
  position: absolute;
  top: 38px;
  width: 38px;
}

.celular .overlap-35 {
  border: 1px solid;
  border-color: #c8982a;
  height: 205px;
  left: 252px;
  position: absolute;
  top: 2851px;
  width: 138px;
}

.celular .marketing-material-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 17px;
  font-weight: 700;
  left: 21px;
  letter-spacing: 0.68px;
  line-height: normal;
  position: absolute;
  top: 101px;
  width: 93px;
}

.celular .overlap-36 {
  border: 1px solid;
  border-color: #c8982a;
  height: 205px;
  left: 440px;
  position: absolute;
  top: 2851px;
  width: 138px;
}

.celular .website-apps-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 17px;
  font-weight: 700;
  left: 35px;
  letter-spacing: 0.68px;
  line-height: normal;
  position: absolute;
  top: 101px;
  width: 77px;
}

.celular .overlap-37 {
  border: 1px solid;
  border-color: #c8982a;
  height: 205px;
  left: 628px;
  position: absolute;
  top: 2851px;
  width: 138px;
}

.celular .text-wrapper-45 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 17px;
  font-weight: 700;
  left: 29px;
  letter-spacing: 0.68px;
  line-height: normal;
  position: absolute;
  top: 101px;
  width: 97px;
}

.celular .overlap-38 {
  border: 1px solid;
  border-color: #c8982a;
  height: 205px;
  left: 816px;
  position: absolute;
  top: 2851px;
  width: 138px;
}

.celular .text-wrapper-46 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 17px;
  font-weight: 700;
  left: 18px;
  letter-spacing: 0.68px;
  line-height: normal;
  position: absolute;
  top: 101px;
  width: 117px;
}

.celular .overlap-39 {
  border: 1px solid;
  border-color: #c8982a;
  height: 205px;
  left: 999px;
  position: absolute;
  top: 2851px;
  width: 138px;
}

.celular .text-wrapper-47 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 17px;
  font-weight: 700;
  left: 20px;
  letter-spacing: 0.68px;
  line-height: normal;
  position: absolute;
  top: 99px;
  width: 117px;
}

.celular .biotech-2 {
  height: 38px;
  left: 41px;
  position: absolute;
  top: 38px;
  width: 38px;
}

.celular .group-7 {
  height: 404px;
  left: 64px;
  position: absolute;
  top: 187px;
  width: 693px;
}

.celular .text-wrapper-48 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 59.8px;
  font-weight: 700;
  left: 0;
  letter-spacing: 2.39px;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 599px;
}

.celular .element-languages-that-3 {
  color: #383836;
  font-family: "Lato", Helvetica;
  font-size: 21.5px;
  font-weight: 700;
  height: 130px;
  left: 0;
  letter-spacing: 0.65px;
  line-height: 43.1px;
  position: absolute;
  top: 181px;
  width: 689px;
}

.celular .group-8 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 0 !important;
  position: absolute !important;
  top: 348px !important;
  width: 329px !important;
}

.celular .group-9 {
  font-size: 20.5px !important;
  left: 62px !important;
  letter-spacing: 1.03px !important;
  line-height: 13.3px !important;
  width: 205px !important;
}

.celular .group-10 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 433px !important;
  position: absolute !important;
  top: 1739px !important;
  width: 329px !important;
}

.celular .group-11 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 433px !important;
  position: absolute !important;
  top: 3139px !important;
  width: 329px !important;
}

.celular .our-growth-would-not-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 117px;
  letter-spacing: 0.64px;
  line-height: 26.4px;
  position: absolute;
  text-align: center;
  top: 2310px;
  width: 285px;
}

.celular .text-wrapper-49 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 455px;
  letter-spacing: 0.64px;
  line-height: 26.2px;
  position: absolute;
  text-align: center;
  top: 2309px;
  width: 285px;
}

.celular .we-are-a-german-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 791px;
  letter-spacing: 0.64px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 2309px;
  width: 285px;
}

.celular .text-wrapper-50 {
  line-height: 21.4px;
}

.celular .text-wrapper-51 {
  line-height: 26.2px;
}

.celular .text-wrapper-52 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 37px;
  font-weight: 700;
  left: 330px;
  letter-spacing: 1.48px;
  line-height: normal;
  position: absolute;
  top: 1916px;
  width: 537px;
}

.celular .every-translation-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 201px;
  letter-spacing: 0.8px;
  line-height: 27px;
  position: absolute;
  text-align: center;
  top: 1994px;
}

.celular .text-wrapper-53 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 200px;
  letter-spacing: 0.72px;
  line-height: 29.7px;
  position: absolute;
  text-align: center;
  top: 2240px;
  white-space: nowrap;
}

.celular .text-wrapper-54 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 562px;
  letter-spacing: 0.72px;
  line-height: 29.7px;
  position: absolute;
  text-align: center;
  top: 2240px;
  white-space: nowrap;
}

.celular .text-wrapper-55 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 872px;
  letter-spacing: 0.72px;
  line-height: 29.7px;
  position: absolute;
  text-align: center;
  top: 2240px;
  white-space: nowrap;
}

.celular .text-wrapper-56 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 189px;
  letter-spacing: 0.72px;
  line-height: 29.7px;
  position: absolute;
  text-align: center;
  top: 2202px;
  white-space: nowrap;
}

.celular .text-wrapper-57 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 548px;
  letter-spacing: 0.72px;
  line-height: 29.7px;
  position: absolute;
  text-align: center;
  top: 2202px;
  white-space: nowrap;
}

.celular .text-wrapper-58 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 848px;
  letter-spacing: 0.72px;
  line-height: 29.7px;
  position: absolute;
  text-align: center;
  top: 2202px;
  white-space: nowrap;
}

.celular .ellipse-4 {
  height: 84px;
  left: 211px;
  object-fit: cover;
  position: absolute;
  top: 2092px;
  width: 84px;
}

.celular .ellipse-5 {
  height: 84px;
  left: 555px;
  object-fit: cover;
  position: absolute;
  top: 2090px;
  width: 84px;
}

.celular .ellipse-6 {
  height: 84px;
  left: 920px;
  object-fit: cover;
  position: absolute;
  top: 2092px;
  width: 84px;
}

.celular .star-13 {
  height: 19px;
  left: 188px;
  position: absolute;
  top: 2476px;
  width: 23px;
}

.celular .star-14 {
  height: 19px;
  left: 529px;
  position: absolute;
  top: 2476px;
  width: 23px;
}

.celular .star-15 {
  height: 19px;
  left: 864px;
  position: absolute;
  top: 2476px;
  width: 23px;
}

.celular .star-16 {
  height: 19px;
  left: 218px;
  position: absolute;
  top: 2476px;
  width: 23px;
}

.celular .star-17 {
  height: 19px;
  left: 559px;
  position: absolute;
  top: 2476px;
  width: 23px;
}

.celular .star-18 {
  height: 19px;
  left: 894px;
  position: absolute;
  top: 2476px;
  width: 23px;
}

.celular .star-19 {
  height: 19px;
  left: 248px;
  position: absolute;
  top: 2476px;
  width: 23px;
}

.celular .star-20 {
  height: 19px;
  left: 589px;
  position: absolute;
  top: 2476px;
  width: 23px;
}

.celular .star-21 {
  height: 19px;
  left: 924px;
  position: absolute;
  top: 2476px;
  width: 23px;
}

.celular .star-22 {
  height: 19px;
  left: 278px;
  position: absolute;
  top: 2476px;
  width: 23px;
}

.celular .star-23 {
  height: 19px;
  left: 619px;
  position: absolute;
  top: 2476px;
  width: 23px;
}

.celular .star-24 {
  height: 19px;
  left: 954px;
  position: absolute;
  top: 2476px;
  width: 23px;
}

.celular .star-25 {
  height: 19px;
  left: 308px;
  position: absolute;
  top: 2476px;
  width: 23px;
}

.celular .star-26 {
  height: 19px;
  left: 649px;
  position: absolute;
  top: 2476px;
  width: 23px;
}

.celular .star-27 {
  height: 19px;
  left: 984px;
  position: absolute;
  top: 2476px;
  width: 23px;
}

.celular .magma-translation-4 {
  height: 54px;
  left: 64px;
  position: absolute;
  top: 40px;
  width: 194px;
}

.celular .text-wrapper-59 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 189px;
  letter-spacing: 0.72px;
  line-height: 29.7px;
  position: absolute;
  text-align: center;
  top: 3503px;
  width: 816px;
}

.celular .text-wrapper-60 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 377px;
  letter-spacing: 0.72px;
  line-height: 29.7px;
  position: absolute;
  top: 3617px;
  white-space: nowrap;
  width: 444px;
}

.celular .magma-translation-5 {
  height: 54px;
  left: 500px;
  position: absolute;
  top: 3379px;
  width: 194px;
}
