.celular {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.celular .div-2 {
  background-color: #ffffff;
  position: relative;
}

.celular .text-wrapper-6 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 55px;
  font-weight: 700;
  left: 28px;
  letter-spacing: 2.2px;
  line-height: 80.3px;
  position: absolute;
  text-align: center;
  top: 117px;
  width: 366px;
}

.celular .element-languages-that {
  color: #383836;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 199px;
  left: 5px;
  letter-spacing: 0.6px;
  line-height: 66.3px;
  position: absolute;
  text-align: center;
  top: 396px;
  width: 421px;
}

.celular .click-to-discover-wrapper {
  background-color: #0536a8;
  height: 266px;
  left: 0;
  position: absolute;
  top: 646px;
  width: 430px;
}

.celular .click-to-discover {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 26.8px;
  font-weight: 300;
  height: 44px;
  left: 81px;
  letter-spacing: 1.34px;
  line-height: 17.4px;
  position: absolute;
  text-align: center;
  top: 110px;
  width: 268px;
}

.celular .class {
  background-image: url(../../../static/img/whatsapp-image-2023-07-12-at-12-41-1-2.png) !important;
  height: 225px !important;
  left: 531px !important;
  position: absolute !important;
  top: 141px !important;
  width: 173px !important;
}

.celular .class-2 {
  background-image: url(../../../static/img/whatsapp-image-2023-07-12-at-12-41-1-3.png) !important;
  height: 303px !important;
  left: 714px !important;
  position: absolute !important;
  top: 189px !important;
  width: 233px !important;
}

.celular .class-3 {
  background-image: url(../../../static/img/whatsapp-image-2023-07-12-at-12-41-1-4.png) !important;
  height: 364px !important;
  left: 857px !important;
  position: absolute !important;
  top: 227px !important;
  width: 280px !important;
}

.celular .class-4 {
  background-image: url(../../../static/img/whatsapp-image-2023-07-12-at-12-41-1-4.png) !important;
  height: 364px !important;
  left: 956px !important;
  position: absolute !important;
  top: 227px !important;
  width: 280px !important;
}

.celular .class-5 {
  background-image: url(../../../static/img/whatsapp-image-2023-07-12-at-12-41-1-4.png) !important;
  height: 364px !important;
  left: 1026px !important;
  position: absolute !important;
  top: 245px !important;
  width: 280px !important;
}

.celular .class-6 {
  background-image: url(../../../static/img/whatsapp-image-2023-07-12-at-12-41-1-4.png) !important;
  height: 364px !important;
  left: 957px !important;
  position: absolute !important;
  top: 227px !important;
  width: 280px !important;
}

.celular .p {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .text-wrapper-7 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .zapier-png {
  position: absolute;
}

.celular .overlap-6 {
  background-size: 100% 100%;
  position: absolute;
}

.celular .text-wrapper-8 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .law {
  position: absolute;
}

.celular .overlap-7 {
  background-size: 100% 100%;
  position: absolute;
}

.celular .media-films {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .next {
  position: absolute;
}

.celular .overlap-8 {
  border-color: #c8982a;
  position: absolute;
}

.celular .text-wrapper-9 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .medical-bag {
  position: absolute;
}

.celular .overlap-9 {
  border-color: #c8982a;
  position: absolute;
}

.celular .text-wrapper-10 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .MBA {
  position: absolute;
}

.celular .overlap-10 {
  border-color: #c8982a;
  position: absolute;
}

.celular .text-wrapper-11 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .manufacturing {
  position: absolute;
}

.celular .overlap-11 {
  border-color: #c8982a;
  position: absolute;
}

.celular .text-wrapper-12 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .tesla-model-x {
  position: absolute;
}

.celular .overlap-12 {
  border-color: #c8982a;
  position: absolute;
}

.celular .text-wrapper-13 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .money-bag-pounds {
  position: absolute;
}

.celular .overlap-13 {
  border-color: #c8982a;
  position: absolute;
}

.celular .text-wrapper-14 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .commercial {
  position: absolute;
}

.celular .overlap-14 {
  border-color: #c8982a;
  position: absolute;
}

.celular .IT-software {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .programming-flag {
  position: absolute;
}

.celular .overlap-15 {
  border-color: #c8982a;
  position: absolute;
}

.celular .text-wrapper-15 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .biotech {
  position: absolute;
}

.celular .overlap-16 {
  border-color: #c8982a;
  position: absolute;
}

.celular .text-wrapper-16 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .plane {
  position: absolute;
}

.celular .overlap-17 {
  border-color: #c8982a;
  position: absolute;
}

.celular .text-wrapper-17 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .buy {
  position: absolute;
}

.celular .text-wrapper-18 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .text-wrapper-19 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
}

.celular .overlap-18 {
  border-color: #c8982a;
  position: absolute;
}

.celular .document-translation {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .PDF {
  position: absolute;
}

.celular .overlap-19 {
  border-color: #c8982a;
  position: absolute;
}

.celular .marketing-material {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .goal {
  position: absolute;
}

.celular .overlap-group-3 {
  border-color: #c8982a;
  position: absolute;
}

.celular .website-apps {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .website {
  position: absolute;
}

.celular .overlap-20 {
  border-color: #c8982a;
  position: absolute;
}

.celular .text-wrapper-20 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .video-camera {
  position: absolute;
}

.celular .overlap-21 {
  border-color: #c8982a;
  position: absolute;
}

.celular .text-wrapper-21 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .e-commerce {
  position: absolute;
}

.celular .overlap-22 {
  border-color: #c8982a;
  position: absolute;
}

.celular .text-wrapper-22 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .img {
  position: absolute;
}

.celular .group-5 {
  position: absolute;
}

.celular .text-wrapper-23 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  left: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.celular .element-languages-that-2 {
  color: #383836;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  left: 0;
  position: absolute;
}

.celular .class-7 {
  font-size: 12.7px !important;
  height: 6px !important;
  left: 38px !important;
  letter-spacing: 0.64px !important;
  line-height: 8.3px !important;
  top: 14px !important;
  width: 127px !important;
}

.celular .class-8 {
  font-size: 17.1px !important;
  height: 8px !important;
  left: 52px !important;
  letter-spacing: 0.85px !important;
  line-height: 11.1px !important;
  top: 19px !important;
  width: 171px !important;
}

.celular .class-9 {
  border-radius: 17.44px !important;
  height: 35px !important;
  left: 0 !important;
  position: absolute !important;
  top: 216px !important;
  width: 204px !important;
}

.celular .class-10 {
  border-radius: 23.45px !important;
  height: 47px !important;
  left: 0 !important;
  position: absolute !important;
  top: 290px !important;
  width: 274px !important;
}

.celular .class-11 {
  border-radius: 17.44px !important;
  height: 35px !important;
  left: 268px !important;
  position: absolute !important;
  top: 1077px !important;
  width: 204px !important;
}

.celular .class-12 {
  border-radius: 23.45px !important;
  height: 47px !important;
  left: 361px !important;
  position: absolute !important;
  top: 1448px !important;
  width: 274px !important;
}

.celular .class-13 {
  border-radius: 17.44px !important;
  height: 35px !important;
  left: 268px !important;
  position: absolute !important;
  top: 1945px !important;
  width: 204px !important;
}

.celular .class-14 {
  border-radius: 23.45px !important;
  height: 47px !important;
  left: 361px !important;
  position: absolute !important;
  top: 2614px !important;
  width: 274px !important;
}

.celular .our-growth-would-not {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
}

.celular .text-wrapper-24 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
}

.celular .we-are-a-german {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
}

.celular .text-wrapper-25 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.celular .every-translation {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
}

.celular .text-wrapper-26 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.celular .text-wrapper-27 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.celular .text-wrapper-28 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.celular .text-wrapper-29 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.celular .text-wrapper-30 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.celular .text-wrapper-31 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.celular .ellipse {
  object-fit: cover;
  position: absolute;
}

.celular .ellipse-2 {
  object-fit: cover;
  position: absolute;
}

.celular .ellipse-3 {
  object-fit: cover;
  position: absolute;
}

.celular .class-15 {
  height: 12px !important;
  left: 117px !important;
  position: absolute !important;
  top: 1534px !important;
  width: 14px !important;
}

.celular .class-16 {
  height: 16px !important;
  left: 157px !important;
  position: absolute !important;
  top: 2061px !important;
  width: 19px !important;
}

.celular .class-17 {
  height: 12px !important;
  left: 328px !important;
  position: absolute !important;
  top: 1534px !important;
  width: 14px !important;
}

.celular .class-18 {
  height: 16px !important;
  left: 441px !important;
  position: absolute !important;
  top: 2061px !important;
  width: 19px !important;
}

.celular .class-19 {
  height: 12px !important;
  left: 536px !important;
  position: absolute !important;
  top: 1534px !important;
  width: 14px !important;
}

.celular .class-20 {
  height: 16px !important;
  left: 720px !important;
  position: absolute !important;
  top: 2061px !important;
  width: 19px !important;
}

.celular .class-21 {
  height: 12px !important;
  left: 135px !important;
  position: absolute !important;
  top: 1534px !important;
  width: 14px !important;
}

.celular .class-22 {
  height: 16px !important;
  left: 182px !important;
  position: absolute !important;
  top: 2061px !important;
  width: 19px !important;
}

.celular .class-23 {
  height: 12px !important;
  left: 347px !important;
  position: absolute !important;
  top: 1534px !important;
  width: 14px !important;
}

.celular .class-24 {
  height: 16px !important;
  left: 466px !important;
  position: absolute !important;
  top: 2061px !important;
  width: 19px !important;
}

.celular .class-25 {
  height: 12px !important;
  left: 554px !important;
  position: absolute !important;
  top: 1534px !important;
  width: 14px !important;
}

.celular .class-26 {
  height: 16px !important;
  left: 745px !important;
  position: absolute !important;
  top: 2061px !important;
  width: 19px !important;
}

.celular .class-27 {
  height: 12px !important;
  left: 154px !important;
  position: absolute !important;
  top: 1534px !important;
  width: 14px !important;
}

.celular .class-28 {
  height: 16px !important;
  left: 207px !important;
  position: absolute !important;
  top: 2061px !important;
  width: 19px !important;
}

.celular .class-29 {
  height: 12px !important;
  left: 365px !important;
  position: absolute !important;
  top: 1534px !important;
  width: 14px !important;
}

.celular .class-30 {
  height: 16px !important;
  left: 491px !important;
  position: absolute !important;
  top: 2061px !important;
  width: 19px !important;
}

.celular .class-31 {
  height: 12px !important;
  left: 573px !important;
  position: absolute !important;
  top: 1534px !important;
  width: 14px !important;
}

.celular .class-32 {
  height: 16px !important;
  left: 770px !important;
  position: absolute !important;
  top: 2061px !important;
  width: 19px !important;
}

.celular .class-33 {
  height: 12px !important;
  left: 172px !important;
  position: absolute !important;
  top: 1534px !important;
  width: 14px !important;
}

.celular .class-34 {
  height: 16px !important;
  left: 232px !important;
  position: absolute !important;
  top: 2061px !important;
  width: 19px !important;
}

.celular .class-35 {
  height: 12px !important;
  left: 384px !important;
  position: absolute !important;
  top: 1534px !important;
  width: 14px !important;
}

.celular .class-36 {
  height: 16px !important;
  left: 516px !important;
  position: absolute !important;
  top: 2061px !important;
  width: 19px !important;
}

.celular .class-37 {
  height: 12px !important;
  left: 591px !important;
  position: absolute !important;
  top: 1534px !important;
  width: 14px !important;
}

.celular .class-38 {
  height: 16px !important;
  left: 795px !important;
  position: absolute !important;
  top: 2061px !important;
  width: 19px !important;
}

.celular .class-39 {
  height: 12px !important;
  left: 191px !important;
  position: absolute !important;
  top: 1534px !important;
  width: 14px !important;
}

.celular .class-40 {
  height: 16px !important;
  left: 257px !important;
  position: absolute !important;
  top: 2061px !important;
  width: 19px !important;
}

.celular .class-41 {
  height: 12px !important;
  left: 402px !important;
  position: absolute !important;
  top: 1534px !important;
  width: 14px !important;
}

.celular .class-42 {
  height: 16px !important;
  left: 541px !important;
  position: absolute !important;
  top: 2061px !important;
  width: 19px !important;
}

.celular .class-43 {
  height: 12px !important;
  left: 610px !important;
  position: absolute !important;
  top: 1534px !important;
  width: 14px !important;
}

.celular .class-44 {
  height: 16px !important;
  left: 820px !important;
  position: absolute !important;
  top: 2061px !important;
  width: 19px !important;
}

.celular .magma-translation-2 {
  position: absolute;
}

.celular .text-wrapper-32 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
}

.celular .text-wrapper-33 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  white-space: nowrap;
}

.celular .zf-png {
  position: absolute;
}

.celular .anton-paar-png {
  height: 70px;
  position: absolute;
  top: 953px;
  width: 101px;
}

.celular .crowdin-png {
  height: 70px;
  position: absolute;
  top: 837px;
  width: 101px;
}

.celular .rectangle-5 {
  height: 70px;
  object-fit: cover;
  position: absolute;
  top: 953px;
  width: 101px;
}

.celular .cloudwords-png {
  height: 70px;
  position: absolute;
  top: 837px;
  width: 101px;
}

.celular .rectangle-7 {
  height: 70px;
  object-fit: cover;
  position: absolute;
  top: 953px;
  width: 101px;
}

.celular .rectangle-8 {
  height: 79px;
  object-fit: cover;
  position: absolute;
  top: 837px;
  width: 111px;
}

.celular .rectangle-9 {
  height: 70px;
  object-fit: cover;
  position: absolute;
  top: 953px;
  width: 101px;
}

.celular .rectangle-10 {
  height: 70px;
  object-fit: cover;
  position: absolute;
  top: 837px;
  width: 101px;
}

.celular .evoltz-png {
  height: 70px;
  position: absolute;
  top: 953px;
  width: 101px;
}

.celular .rectangle-11 {
  height: 70px;
  object-fit: cover;
  position: absolute;
  top: 837px;
  width: 107px;
}

.celular .jungheinrich-png {
  height: 70px;
  position: absolute;
  top: 953px;
  width: 101px;
}

.celular .rectangle-12 {
  height: 70px;
  object-fit: cover;
  position: absolute;
  top: 837px;
  width: 115px;
}

.celular .shopee-png {
  height: 70px;
  position: absolute;
  top: 953px;
  width: 101px;
}

.celular .overlap-23 {
  background-image: url(../../../static/img/rectangle-19-2.svg);
  background-size: 100% 100%;
  height: 139px;
  position: absolute;
  top: 1317px;
  width: 152px;
}

.celular .text-wrapper-34 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 51px;
  letter-spacing: 0.8px;
  line-height: normal;
  position: absolute;
  top: 99px;
  white-space: nowrap;
}

.celular .law-2 {
  height: 38px;
  left: 57px;
  position: absolute;
  top: 31px;
  width: 38px;
}

.celular .overlap-24 {
  background-image: url(../../../static/img/rectangle-19-2.svg);
  background-size: 100% 100%;
  height: 139px;
  position: absolute;
  top: 1524px;
  width: 152px;
}

.celular .media-films-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 8px;
  letter-spacing: 0.8px;
  line-height: normal;
  position: absolute;
  top: 95px;
  white-space: nowrap;
}

.celular .next-2 {
  height: 38px;
  left: 57px;
  position: absolute;
  top: 28px;
  width: 38px;
}

.celular .overlap-25 {
  border: 1px solid;
  border-color: #c8982a;
  height: 139px;
  position: absolute;
  top: 1317px;
  width: 152px;
}

.celular .text-wrapper-35 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 37px;
  letter-spacing: 0.8px;
  line-height: normal;
  position: absolute;
  top: 98px;
  white-space: nowrap;
}

.celular .img-2 {
  height: 38px;
  left: 56px;
  position: absolute;
  top: 27px;
  width: 38px;
}

.celular .overlap-26 {
  border: 1px solid;
  border-color: #c8982a;
  height: 139px;
  position: absolute;
  top: 1524px;
  width: 152px;
}

.celular .text-wrapper-36 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 24px;
  letter-spacing: 0.8px;
  line-height: normal;
  position: absolute;
  top: 98px;
  white-space: nowrap;
}

.celular .overlap-27 {
  border: 1px solid;
  border-color: #c8982a;
  height: 139px;
  position: absolute;
  top: 1317px;
  width: 152px;
}

.celular .text-wrapper-37 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 4px;
  letter-spacing: 0.8px;
  line-height: normal;
  position: absolute;
  top: 98px;
  white-space: nowrap;
}

.celular .overlap-28 {
  border: 1px solid;
  border-color: #c8982a;
  height: 139px;
  position: absolute;
  top: 1524px;
  width: 152px;
}

.celular .text-wrapper-38 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 19px;
  letter-spacing: 0.8px;
  line-height: normal;
  position: absolute;
  top: 98px;
  white-space: nowrap;
}

.celular .overlap-29 {
  border: 1px solid;
  border-color: #c8982a;
  height: 139px;
  position: absolute;
  top: 1317px;
  width: 152px;
}

.celular .text-wrapper-39 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 32px;
  letter-spacing: 0.8px;
  line-height: normal;
  position: absolute;
  top: 98px;
  white-space: nowrap;
}

.celular .money-bag-pounds-2 {
  height: 38px;
  left: 49px;
  position: absolute;
  top: 27px;
  width: 38px;
}

.celular .overlap-30 {
  border: 1px solid;
  border-color: #c8982a;
  height: 139px;
  position: absolute;
  top: 1524px;
  width: 152px;
}

.celular .text-wrapper-40 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 26px;
  letter-spacing: 0.8px;
  line-height: normal;
  position: absolute;
  top: 102px;
  white-space: nowrap;
}

.celular .overlap-31 {
  border: 1px solid;
  border-color: #c8982a;
  height: 139px;
  position: absolute;
  top: 1317px;
  width: 152px;
}

.celular .overlap-32 {
  border: 1px solid;
  border-color: #c8982a;
  height: 139px;
  position: absolute;
  top: 1524px;
  width: 152px;
}

.celular .text-wrapper-41 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 12px;
  letter-spacing: 0.8px;
  line-height: normal;
  position: absolute;
  top: 98px;
  white-space: nowrap;
}

.celular .overlap-33 {
  border: 1px solid;
  border-color: #c8982a;
  height: 139px;
  position: absolute;
  top: 1317px;
  width: 152px;
}

.celular .overlap-34 {
  border: 1px solid;
  border-color: #c8982a;
  height: 139px;
  position: absolute;
  top: 1524px;
  width: 152px;
}

.celular .text-wrapper-42 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 16px;
  letter-spacing: 0.8px;
  line-height: normal;
  position: absolute;
  top: 98px;
  white-space: nowrap;
}

.celular .text-wrapper-43 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 37.7px;
  font-weight: 700;
  letter-spacing: 1.51px;
  line-height: normal;
  position: absolute;
  top: 2591px;
  width: 468px;
}

.celular .text-wrapper-44 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.8px;
  line-height: 27px;
  position: absolute;
  text-align: center;
  top: 2736px;
  width: 939px;
}

.celular .overlap-35 {
  border: 1px solid;
  border-color: #c8982a;
  height: 205px;
  position: absolute;
  top: 2851px;
  width: 138px;
}

.celular .document-translation-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 17px;
  font-weight: 700;
  left: 31px;
  letter-spacing: 0.68px;
  line-height: normal;
  position: absolute;
  top: 101px;
  width: 106px;
}

.celular .img-3 {
  height: 38px;
  left: 49px;
  position: absolute;
  top: 38px;
  width: 38px;
}

.celular .overlap-36 {
  border: 1px solid;
  border-color: #c8982a;
  height: 205px;
  position: absolute;
  top: 2851px;
  width: 138px;
}

.celular .marketing-material-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 17px;
  font-weight: 700;
  left: 21px;
  letter-spacing: 0.68px;
  line-height: normal;
  position: absolute;
  top: 101px;
  width: 93px;
}

.celular .overlap-37 {
  border: 1px solid;
  border-color: #c8982a;
  height: 205px;
  position: absolute;
  top: 2851px;
  width: 138px;
}

.celular .website-apps-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 17px;
  font-weight: 700;
  left: 35px;
  letter-spacing: 0.68px;
  line-height: normal;
  position: absolute;
  top: 101px;
  width: 77px;
}

.celular .overlap-38 {
  border: 1px solid;
  border-color: #c8982a;
  height: 205px;
  position: absolute;
  top: 2851px;
  width: 138px;
}

.celular .text-wrapper-45 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 17px;
  font-weight: 700;
  left: 29px;
  letter-spacing: 0.68px;
  line-height: normal;
  position: absolute;
  top: 101px;
  width: 97px;
}

.celular .overlap-group-4 {
  border: 1px solid;
  border-color: #c8982a;
  height: 205px;
  position: absolute;
  top: 2851px;
  width: 138px;
}

.celular .text-wrapper-46 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 17px;
  font-weight: 700;
  left: 18px;
  letter-spacing: 0.68px;
  line-height: normal;
  position: absolute;
  top: 101px;
  width: 117px;
}

.celular .overlap-39 {
  border: 1px solid;
  border-color: #c8982a;
  height: 205px;
  position: absolute;
  top: 2851px;
  width: 138px;
}

.celular .text-wrapper-47 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 17px;
  font-weight: 700;
  left: 20px;
  letter-spacing: 0.68px;
  line-height: normal;
  position: absolute;
  top: 99px;
  width: 117px;
}

.celular .biotech-2 {
  height: 38px;
  left: 41px;
  position: absolute;
  top: 38px;
  width: 38px;
}

.celular .group-6 {
  height: 404px;
  position: absolute;
  width: 693px;
}

.celular .text-wrapper-48 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 59.8px;
  font-weight: 700;
  left: 0;
  letter-spacing: 2.39px;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 599px;
}

.celular .element-languages-that-3 {
  color: #383836;
  font-family: "Lato", Helvetica;
  font-size: 21.5px;
  font-weight: 700;
  height: 130px;
  left: 0;
  letter-spacing: 0.65px;
  line-height: 43.1px;
  position: absolute;
  top: 181px;
  width: 689px;
}

.celular .group-instance {
  font-size: 20.5px !important;
  left: 62px !important;
  letter-spacing: 1.03px !important;
  line-height: 13.3px !important;
  width: 205px !important;
}

.celular .group-2-instance {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 0 !important;
  position: absolute !important;
  top: 348px !important;
  width: 329px !important;
}

.celular .class-45 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 532px !important;
  position: absolute !important;
  top: 1739px !important;
  width: 329px !important;
}

.celular .class-46 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 433px !important;
  position: absolute !important;
  top: 1739px !important;
  width: 329px !important;
}

.celular .class-47 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 482px !important;
  position: absolute !important;
  top: 1739px !important;
  width: 329px !important;
}

.celular .class-48 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 582px !important;
  position: absolute !important;
  top: 1739px !important;
  width: 329px !important;
}

.celular .class-49 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 532px !important;
  position: absolute !important;
  top: 3139px !important;
  width: 329px !important;
}

.celular .class-50 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 433px !important;
  position: absolute !important;
  top: 3139px !important;
  width: 329px !important;
}

.celular .class-51 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 482px !important;
  position: absolute !important;
  top: 3139px !important;
  width: 329px !important;
}

.celular .class-52 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 582px !important;
  position: absolute !important;
  top: 3139px !important;
  width: 329px !important;
}

.celular .our-growth-would-not-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.64px;
  line-height: 26.4px;
  position: absolute;
  text-align: center;
  top: 2310px;
  width: 285px;
}

.celular .text-wrapper-49 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.64px;
  line-height: 26.2px;
  position: absolute;
  text-align: center;
  top: 2309px;
  width: 285px;
}

.celular .we-are-a-german-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.64px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 2309px;
  width: 285px;
}

.celular .span {
  line-height: 21.4px;
}

.celular .text-wrapper-50 {
  line-height: 26.2px;
}

.celular .text-wrapper-51 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 37px;
  font-weight: 700;
  letter-spacing: 1.48px;
  line-height: normal;
  position: absolute;
  top: 1916px;
  width: 537px;
}

.celular .every-translation-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.8px;
  line-height: 27px;
  position: absolute;
  text-align: center;
  top: 1994px;
}

.celular .text-wrapper-52 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.72px;
  line-height: 29.7px;
  position: absolute;
  text-align: center;
  top: 2240px;
  white-space: nowrap;
}

.celular .text-wrapper-53 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.72px;
  line-height: 29.7px;
  position: absolute;
  text-align: center;
  top: 2240px;
  white-space: nowrap;
}

.celular .text-wrapper-54 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.72px;
  line-height: 29.7px;
  position: absolute;
  text-align: center;
  top: 2240px;
  white-space: nowrap;
}

.celular .text-wrapper-55 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.72px;
  line-height: 29.7px;
  position: absolute;
  text-align: center;
  top: 2202px;
  white-space: nowrap;
}

.celular .text-wrapper-56 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.72px;
  line-height: 29.7px;
  position: absolute;
  text-align: center;
  top: 2202px;
  white-space: nowrap;
}

.celular .text-wrapper-57 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.72px;
  line-height: 29.7px;
  position: absolute;
  text-align: center;
  top: 2202px;
  white-space: nowrap;
}

.celular .ellipse-4 {
  height: 84px;
  object-fit: cover;
  position: absolute;
  top: 2092px;
  width: 84px;
}

.celular .ellipse-5 {
  height: 84px;
  object-fit: cover;
  position: absolute;
  top: 2090px;
  width: 84px;
}

.celular .ellipse-6 {
  height: 84px;
  object-fit: cover;
  position: absolute;
  top: 2092px;
  width: 84px;
}

.celular .class-53 {
  height: 19px !important;
  left: 188px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-54 {
  height: 19px !important;
  left: 237px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-55 {
  height: 19px !important;
  left: 337px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-56 {
  height: 19px !important;
  left: 287px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-57 {
  height: 19px !important;
  left: 628px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-58 {
  height: 19px !important;
  left: 529px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-59 {
  height: 19px !important;
  left: 578px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-60 {
  height: 19px !important;
  left: 678px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-61 {
  height: 19px !important;
  left: 963px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-62 {
  height: 19px !important;
  left: 864px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-63 {
  height: 19px !important;
  left: 913px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-64 {
  height: 19px !important;
  left: 1013px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-65 {
  height: 19px !important;
  left: 218px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-66 {
  height: 19px !important;
  left: 267px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-67 {
  height: 19px !important;
  left: 367px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-68 {
  height: 19px !important;
  left: 317px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-69 {
  height: 19px !important;
  left: 559px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-70 {
  height: 19px !important;
  left: 608px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-71 {
  height: 19px !important;
  left: 708px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-72 {
  height: 19px !important;
  left: 658px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-73 {
  height: 19px !important;
  left: 894px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-74 {
  height: 19px !important;
  left: 943px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-75 {
  height: 19px !important;
  left: 1043px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-76 {
  height: 19px !important;
  left: 993px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-77 {
  height: 19px !important;
  left: 248px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-78 {
  height: 19px !important;
  left: 297px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-79 {
  height: 19px !important;
  left: 397px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-80 {
  height: 19px !important;
  left: 347px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-81 {
  height: 19px !important;
  left: 688px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-82 {
  height: 19px !important;
  left: 589px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-83 {
  height: 19px !important;
  left: 638px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-84 {
  height: 19px !important;
  left: 738px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-85 {
  height: 19px !important;
  left: 1023px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-86 {
  height: 19px !important;
  left: 924px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-87 {
  height: 19px !important;
  left: 973px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-88 {
  height: 19px !important;
  left: 1073px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-89 {
  height: 19px !important;
  left: 278px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-90 {
  height: 19px !important;
  left: 327px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-91 {
  height: 19px !important;
  left: 427px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-92 {
  height: 19px !important;
  left: 377px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-93 {
  height: 19px !important;
  left: 619px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-94 {
  height: 19px !important;
  left: 668px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-95 {
  height: 19px !important;
  left: 768px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-96 {
  height: 19px !important;
  left: 718px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-97 {
  height: 19px !important;
  left: 954px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-98 {
  height: 19px !important;
  left: 1003px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-99 {
  height: 19px !important;
  left: 1103px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-100 {
  height: 19px !important;
  left: 1053px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-101 {
  height: 19px !important;
  left: 407px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-102 {
  height: 19px !important;
  left: 308px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-103 {
  height: 19px !important;
  left: 357px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-104 {
  height: 19px !important;
  left: 457px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-105 {
  height: 19px !important;
  left: 748px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-106 {
  height: 19px !important;
  left: 649px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-107 {
  height: 19px !important;
  left: 698px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-108 {
  height: 19px !important;
  left: 798px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-109 {
  height: 19px !important;
  left: 1083px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-110 {
  height: 19px !important;
  left: 984px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-111 {
  height: 19px !important;
  left: 1033px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .class-112 {
  height: 19px !important;
  left: 1133px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.celular .magma-translation-3 {
  height: 54px;
  position: absolute;
  width: 194px;
}

.celular .text-wrapper-58 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.72px;
  line-height: 29.7px;
  position: absolute;
  text-align: center;
  width: 816px;
}

.celular .text-wrapper-59 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.72px;
  line-height: 29.7px;
  position: absolute;
  white-space: nowrap;
}

.celular .magma-translation-4 {
  height: 54px;
  position: absolute;
  width: 194px;
}
