.iphone-pro-max {
  background-color: #ffffff;
  display: flex;
}

.iphone-pro-max .frame {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 59.17px;
  left: 31px;
  position: relative;
  top: 53px;
  width: 279px;
}

.iphone-pro-max .text-wrapper {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 31.6px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-right: -8.62px;
  margin-top: -0.57px;
  position: relative;
  width: 287.85px;
}

.iphone-pro-max .element-languages-that {
  color: #383836;
  font-family: "Lato", Helvetica;
  font-size: 12.1px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 24.1px;
  margin-right: -31.03px;
  position: relative;
  width: 310.26px;
}

.iphone-pro-max .group-2 {
  height: 69px !important;
  min-width: 256px !important;
  width: unset !important;
}

.iphone-pro-max .group-instance {
  height: 11px !important;
  left: 48px !important;
  line-height: 25.5px !important;
  top: 28px !important;
  width: 160px !important;
}

.iphone-pro-max .div {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 27px;
  position: relative;
  width: 486px;
}

.iphone-pro-max .h-1 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-right: -15px;
  margin-top: -1px;
  position: relative;
  width: 501px;
}

.iphone-pro-max .p {
  color: #383836;
  font-family: "Lato", Helvetica;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 42px;
  margin-right: -54px;
  position: relative;
  width: 540px;
}

.iphone-pro-max .group-2-instance {
  min-width: 335px !important;
  width: unset !important;
}

.iphone-pro-max .img {
  height: 321px;
  min-width: 268.23px;
  object-fit: cover;
  position: relative;
}
