.iphone-pro-max {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.iphone-pro-max .div-2 {
  background-color: #ffffff;
  border: 1px none;
  height: 932px;
  position: relative;
  width: 430px;
}

.iphone-pro-max .frame-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 82px;
  left: 21px;
  position: absolute;
  top: 89px;
  width: 387px;
}

.iphone-pro-max .text-wrapper-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 43.8px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-right: -11.94px;
  margin-top: -0.8px;
  position: relative;
  width: 398.94px;
}

.iphone-pro-max .element-languages-that-2 {
  color: #383836;
  font-family: "Lato", Helvetica;
  font-size: 16.7px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 33.4px;
  margin-right: -43px;
  position: relative;
  width: 430px;
}

.iphone-pro-max .group-2-instance {
  left: unset !important;
  min-width: 335px !important;
  top: unset !important;
  width: unset !important;
}

.iphone-pro-max .vector-wrapper {
  background-image: url(../../../static/img/group-1.png);
  background-size: 100% 100%;
  height: 365px;
  left: 62px;
  position: absolute;
  top: 534px;
  width: 305px;
}

.iphone-pro-max .vector-2 {
  height: 311px;
  left: 24px;
  object-fit: cover;
  position: absolute;
  top: 30px;
  width: 208px;
}
