.iphone-pro-max {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.iphone-pro-max .div-2 {
  background-color: #ffffff;
  position: relative;
}

.iphone-pro-max .text-wrapper {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 48px;
  font-weight: 700;
  left: 28px;
  letter-spacing: 1.92px;
  line-height: 70.1px;
  position: absolute;
  text-align: center;
  top: 117px;
  width: 366px;
}

.iphone-pro-max .element-languages-that {
  color: #383836;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 199px;
  left: 5px;
  letter-spacing: 0.6px;
  line-height: 66.3px;
  position: absolute;
  text-align: center;
  top: 396px;
  width: 421px;
}

.iphone-pro-max .class {
  background-image: url(../../../static/img/whatsapp-image-2023-07-12-at-12-41-1-5.png) !important;
  height: 303px !important;
  left: 714px !important;
  position: absolute !important;
  top: 189px !important;
  width: 233px !important;
}

.iphone-pro-max .class-2 {
  background-image: url(../../../static/img/whatsapp-image-2023-07-12-at-12-41-1.png) !important;
  height: 364px !important;
  left: 857px !important;
  position: absolute !important;
  top: 227px !important;
  width: 280px !important;
}

.iphone-pro-max .class-3 {
  background-image: url(../../../static/img/whatsapp-image-2023-07-12-at-12-41-1.png) !important;
  height: 364px !important;
  left: 956px !important;
  position: absolute !important;
  top: 227px !important;
  width: 280px !important;
}

.iphone-pro-max .class-4 {
  background-image: url(../../../static/img/whatsapp-image-2023-07-12-at-12-41-1.png) !important;
  height: 364px !important;
  left: 957px !important;
  position: absolute !important;
  top: 227px !important;
  width: 280px !important;
}

.iphone-pro-max .class-5 {
  background-image: url(../../../static/img/whatsapp-image-2023-07-12-at-12-41-1.png) !important;
  height: 364px !important;
  left: 1026px !important;
  position: absolute !important;
  top: 245px !important;
  width: 280px !important;
}

.iphone-pro-max .p {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.iphone-pro-max .text-wrapper-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.iphone-pro-max .img {
  position: absolute;
}

.iphone-pro-max .overlap {
  background-size: 100% 100%;
  position: absolute;
}

.iphone-pro-max .text-wrapper-3 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.iphone-pro-max .law {
  position: absolute;
}

.iphone-pro-max .overlap-2 {
  background-size: 100% 100%;
  position: absolute;
}

.iphone-pro-max .media-films {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.iphone-pro-max .next {
  position: absolute;
}

.iphone-pro-max .overlap-3 {
  border-color: #c8982a;
  position: absolute;
}

.iphone-pro-max .text-wrapper-4 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.iphone-pro-max .medical-bag {
  position: absolute;
}

.iphone-pro-max .overlap-4 {
  border-color: #c8982a;
  position: absolute;
}

.iphone-pro-max .text-wrapper-5 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.iphone-pro-max .MBA {
  position: absolute;
}

.iphone-pro-max .overlap-5 {
  border-color: #c8982a;
  position: absolute;
}

.iphone-pro-max .text-wrapper-6 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.iphone-pro-max .manufacturing {
  position: absolute;
}

.iphone-pro-max .overlap-6 {
  border-color: #c8982a;
  position: absolute;
}

.iphone-pro-max .text-wrapper-7 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.iphone-pro-max .tesla-model-x {
  position: absolute;
}

.iphone-pro-max .overlap-7 {
  border-color: #c8982a;
  position: absolute;
}

.iphone-pro-max .text-wrapper-8 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.iphone-pro-max .money-bag-pounds {
  position: absolute;
}

.iphone-pro-max .overlap-8 {
  border-color: #c8982a;
  position: absolute;
}

.iphone-pro-max .text-wrapper-9 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.iphone-pro-max .commercial {
  position: absolute;
}

.iphone-pro-max .overlap-9 {
  border-color: #c8982a;
  position: absolute;
}

.iphone-pro-max .IT-software {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.iphone-pro-max .programming-flag {
  position: absolute;
}

.iphone-pro-max .overlap-group-2 {
  border-color: #c8982a;
  position: absolute;
}

.iphone-pro-max .text-wrapper-10 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.iphone-pro-max .biotech {
  position: absolute;
}

.iphone-pro-max .overlap-10 {
  border-color: #c8982a;
  position: absolute;
}

.iphone-pro-max .text-wrapper-11 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.iphone-pro-max .plane {
  position: absolute;
}

.iphone-pro-max .overlap-11 {
  border-color: #c8982a;
  position: absolute;
}

.iphone-pro-max .text-wrapper-12 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.iphone-pro-max .buy {
  position: absolute;
}

.iphone-pro-max .text-wrapper-13 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.iphone-pro-max .text-wrapper-14 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
}

.iphone-pro-max .overlap-12 {
  border-color: #c8982a;
  position: absolute;
}

.iphone-pro-max .document-translation {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.iphone-pro-max .PDF {
  position: absolute;
}

.iphone-pro-max .overlap-13 {
  border-color: #c8982a;
  position: absolute;
}

.iphone-pro-max .marketing-material {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.iphone-pro-max .goal {
  position: absolute;
}

.iphone-pro-max .overlap-14 {
  border-color: #c8982a;
  position: absolute;
}

.iphone-pro-max .website-apps {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.iphone-pro-max .website {
  position: absolute;
}

.iphone-pro-max .overlap-15 {
  border-color: #c8982a;
  position: absolute;
}

.iphone-pro-max .text-wrapper-15 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.iphone-pro-max .video-camera {
  position: absolute;
}

.iphone-pro-max .overlap-16 {
  border-color: #c8982a;
  position: absolute;
}

.iphone-pro-max .text-wrapper-16 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.iphone-pro-max .e-commerce {
  position: absolute;
}

.iphone-pro-max .overlap-17 {
  border-color: #c8982a;
  position: absolute;
}

.iphone-pro-max .text-wrapper-17 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.iphone-pro-max .biotech-2 {
  position: absolute;
}

.iphone-pro-max .group-2 {
  position: absolute;
}

.iphone-pro-max .h-1 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  left: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.iphone-pro-max .element-languages-that-2 {
  color: #383836;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  left: 0;
  position: absolute;
}

.iphone-pro-max .class-6 {
  font-size: 17.1px !important;
  height: 8px !important;
  left: 52px !important;
  letter-spacing: 0.85px !important;
  line-height: 11.1px !important;
  top: 19px !important;
  width: 171px !important;
}

.iphone-pro-max .class-7 {
  font-size: 20.5px !important;
  left: 62px !important;
  letter-spacing: 1.03px !important;
  line-height: 13.3px !important;
  width: 205px !important;
}

.iphone-pro-max .class-8 {
  border-radius: 23.45px !important;
  height: 47px !important;
  left: 0 !important;
  position: absolute !important;
  top: 290px !important;
  width: 274px !important;
}

.iphone-pro-max .class-9 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 0 !important;
  position: absolute !important;
  top: 348px !important;
  width: 329px !important;
}

.iphone-pro-max .class-10 {
  border-radius: 23.45px !important;
  height: 47px !important;
  left: 361px !important;
  position: absolute !important;
  top: 1448px !important;
  width: 274px !important;
}

.iphone-pro-max .class-11 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 433px !important;
  position: absolute !important;
  top: 1739px !important;
  width: 329px !important;
}

.iphone-pro-max .class-12 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 482px !important;
  position: absolute !important;
  top: 1739px !important;
  width: 329px !important;
}

.iphone-pro-max .class-13 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 532px !important;
  position: absolute !important;
  top: 1739px !important;
  width: 329px !important;
}

.iphone-pro-max .class-14 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 582px !important;
  position: absolute !important;
  top: 1739px !important;
  width: 329px !important;
}

.iphone-pro-max .class-15 {
  border-radius: 23.45px !important;
  height: 47px !important;
  left: 361px !important;
  position: absolute !important;
  top: 2614px !important;
  width: 274px !important;
}

.iphone-pro-max .class-16 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 433px !important;
  position: absolute !important;
  top: 3139px !important;
  width: 329px !important;
}

.iphone-pro-max .class-17 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 482px !important;
  position: absolute !important;
  top: 3139px !important;
  width: 329px !important;
}

.iphone-pro-max .class-18 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 532px !important;
  position: absolute !important;
  top: 3139px !important;
  width: 329px !important;
}

.iphone-pro-max .class-19 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 582px !important;
  position: absolute !important;
  top: 3139px !important;
  width: 329px !important;
}

.iphone-pro-max .our-growth-would-not {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
}

.iphone-pro-max .text-wrapper-18 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
}

.iphone-pro-max .we-are-a-german {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
}

.iphone-pro-max .text-wrapper-19 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.iphone-pro-max .every-translation {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
}

.iphone-pro-max .text-wrapper-20 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.iphone-pro-max .text-wrapper-21 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.iphone-pro-max .text-wrapper-22 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.iphone-pro-max .text-wrapper-23 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.iphone-pro-max .text-wrapper-24 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.iphone-pro-max .text-wrapper-25 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.iphone-pro-max .ellipse {
  object-fit: cover;
  position: absolute;
}

.iphone-pro-max .ellipse-2 {
  object-fit: cover;
  position: absolute;
}

.iphone-pro-max .ellipse-3 {
  object-fit: cover;
  position: absolute;
}

.iphone-pro-max .star {
  position: absolute;
}

.iphone-pro-max .star-2 {
  position: absolute;
}

.iphone-pro-max .star-3 {
  position: absolute;
}

.iphone-pro-max .star-4 {
  position: absolute;
}

.iphone-pro-max .star-5 {
  position: absolute;
}

.iphone-pro-max .star-6 {
  position: absolute;
}

.iphone-pro-max .star-7 {
  position: absolute;
}

.iphone-pro-max .star-8 {
  position: absolute;
}

.iphone-pro-max .star-9 {
  position: absolute;
}

.iphone-pro-max .star-10 {
  position: absolute;
}

.iphone-pro-max .star-11 {
  position: absolute;
}

.iphone-pro-max .star-12 {
  position: absolute;
}

.iphone-pro-max .star-13 {
  position: absolute;
}

.iphone-pro-max .star-14 {
  position: absolute;
}

.iphone-pro-max .star-15 {
  position: absolute;
}

.iphone-pro-max .magma-translation {
  position: absolute;
}

.iphone-pro-max .frame {
  position: absolute;
}

.iphone-pro-max .text-wrapper-26 {
  color: #ffffff;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
}

.iphone-pro-max .text-wrapper-27 {
  color: #ffffff;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  white-space: nowrap;
}

.iphone-pro-max .click-to-discover {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 26.8px;
  font-weight: 300;
  height: 26px;
  left: 81px;
  letter-spacing: 1.34px;
  line-height: 17.4px;
  position: absolute;
  text-align: center;
  top: 65px;
  width: 268px;
}

.iphone-pro-max .magma-translation-2 {
  height: 54px;
  left: 118px;
  position: absolute;
  top: 34px;
  width: 194px;
}
