.element-screen {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.element-screen .element-2 {
  background-color: #ffffff;
  border: 1.16px none;
  height: 4526px;
  overflow: hidden;
  position: relative;
  width: 1400.6px;
}

.element-screen .group-7 {
  height: 471px;
  left: 75px;
  position: absolute;
  top: 218px;
  width: 808px;
}

.element-screen .text-wrapper-54 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 69.8px;
  font-weight: 700;
  left: 0;
  letter-spacing: 2.79px;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 699px;
}

.element-screen .element-languages-that-3 {
  color: #383836;
  font-family: "Lato", Helvetica;
  font-size: 25.1px;
  font-weight: 700;
  height: 151px;
  left: 0;
  letter-spacing: 0.75px;
  line-height: 50.2px;
  position: absolute;
  top: 211px;
  width: 804px;
}

.element-screen .group-8 {
  border-radius: 32.84px !important;
  height: 65px !important;
  left: 0 !important;
  position: absolute !important;
  top: 406px !important;
  transition: all 0.2s ease !important;
  width: 427px !important;
}

.element-screen .group-9 {
  font-size: 23.9px !important;
  height: 11px !important;
  left: 80px !important;
  letter-spacing: 1.2px !important;
  line-height: 15.5px !important;
  top: 26px !important;
  width: 266px !important;
}

.element-screen .group-10 {
  height: 65px;
  left: 484px;
  position: absolute;
  top: 2064px;
  transition: all 0.2s ease;
  width: 427px;
}

.element-screen .overlap-group-3 {
  border-radius: 32.84px;
  height: 65px;
  position: relative;
}

.element-screen .rectangle-7 {
  background-color: #0536a8;
  border-radius: 32.84px;
  height: 65px;
  left: 0;
  position: absolute;
  top: 0;
  width: 427px;
}

.element-screen .talk-to-an-expert-4 {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 23.9px;
  font-weight: 300;
  height: 11px;
  left: 80px;
  letter-spacing: 1.2px;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 26px;
  white-space: nowrap;
  width: 266px;
}

.element-screen .group-11 {
  height: 65px;
  left: 475px;
  position: absolute;
  top: 3941px;
  transition: all 0.2s ease;
  width: 427px;
}

.element-screen .lady-3 {
  background-image: url(../../../static/img/whatsapp-image-2023-07-12-at-12-41-1-5.png) !important;
  height: 424px !important;
  left: 999px !important;
  position: absolute !important;
  top: 265px !important;
  width: 327px !important;
}

.element-screen .magma-translation-png-instance {
  background-image: url(../../../static/img/magma-translation-png-4.png) !important;
  height: 73px !important;
  left: 75px !important;
  position: absolute !important;
  top: 63px !important;
  width: 262px !important;
}

.element-screen .text-wrapper-55 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 44px;
  font-weight: 700;
  left: 289px;
  letter-spacing: 1.76px;
  line-height: normal;
  position: absolute;
  top: 858px;
  width: 823px;
}

.element-screen .text-wrapper-56 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 43.1px;
  font-weight: 700;
  left: 219px;
  letter-spacing: 1.73px;
  line-height: normal;
  position: absolute;
  top: 1417px;
  width: 995px;
}

.element-screen .group-12 {
  height: 217px;
  left: 119px;
  position: absolute;
  top: 992px;
  width: 1163px;
}

.element-screen .overlap-37 {
  background-image: url(../../../static/img/rectangle-19-7.svg);
  background-size: 100% 100%;
  height: 162px;
  left: 75px;
  position: absolute;
  top: 1588px;
  width: 178px;
}

.element-screen .text-wrapper-57 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 23.3px;
  font-weight: 700;
  left: 59px;
  letter-spacing: 0.93px;
  line-height: normal;
  position: absolute;
  top: 115px;
}

.element-screen .law-3 {
  height: 44px;
  left: 66px;
  position: absolute;
  top: 36px;
  width: 44px;
}

.element-screen .overlap-38 {
  background-image: url(../../../static/img/rectangle-36-7.svg);
  background-size: 100% 100%;
  height: 162px;
  left: 75px;
  position: absolute;
  top: 1830px;
  width: 178px;
}

.element-screen .media-films-3 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 23.3px;
  font-weight: 700;
  left: 9px;
  letter-spacing: 0.93px;
  line-height: normal;
  position: absolute;
  top: 111px;
}

.element-screen .next-3 {
  height: 44px;
  left: 66px;
  position: absolute;
  top: 33px;
  width: 44px;
}

.element-screen .overlap-39 {
  border: 1.17px solid;
  border-color: #c8982a;
  height: 162px;
  left: 289px;
  position: absolute;
  top: 1588px;
  width: 178px;
}

.element-screen .text-wrapper-58 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 23.3px;
  font-weight: 700;
  left: 43px;
  letter-spacing: 0.93px;
  line-height: normal;
  position: absolute;
  top: 114px;
}

.element-screen .img-6 {
  height: 44px;
  left: 65px;
  position: absolute;
  top: 31px;
  width: 44px;
}

.element-screen .overlap-40 {
  border: 1.17px solid;
  border-color: #c8982a;
  height: 162px;
  left: 289px;
  position: absolute;
  top: 1830px;
  width: 178px;
}

.element-screen .text-wrapper-59 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 23.3px;
  font-weight: 700;
  left: 28px;
  letter-spacing: 0.93px;
  line-height: normal;
  position: absolute;
  top: 114px;
}

.element-screen .overlap-41 {
  border: 1.17px solid;
  border-color: #c8982a;
  height: 162px;
  left: 504px;
  position: absolute;
  top: 1588px;
  width: 178px;
}

.element-screen .text-wrapper-60 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 23.3px;
  font-weight: 700;
  left: 5px;
  letter-spacing: 0.93px;
  line-height: normal;
  position: absolute;
  top: 114px;
}

.element-screen .overlap-42 {
  border: 1.17px solid;
  border-color: #c8982a;
  height: 162px;
  left: 504px;
  position: absolute;
  top: 1830px;
  width: 178px;
}

.element-screen .text-wrapper-61 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 23.3px;
  font-weight: 700;
  left: 22px;
  letter-spacing: 0.93px;
  line-height: normal;
  position: absolute;
  top: 114px;
}

.element-screen .overlap-43 {
  border: 1.17px solid;
  border-color: #c8982a;
  height: 162px;
  left: 718px;
  position: absolute;
  top: 1588px;
  width: 178px;
}

.element-screen .text-wrapper-62 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 23.3px;
  font-weight: 700;
  left: 37px;
  letter-spacing: 0.93px;
  line-height: normal;
  position: absolute;
  top: 114px;
}

.element-screen .money-bag-pounds-3 {
  height: 44px;
  left: 57px;
  position: absolute;
  top: 31px;
  width: 44px;
}

.element-screen .overlap-44 {
  border: 1.17px solid;
  border-color: #c8982a;
  height: 162px;
  left: 718px;
  position: absolute;
  top: 1830px;
  width: 178px;
}

.element-screen .text-wrapper-63 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 23.3px;
  font-weight: 700;
  left: 30px;
  letter-spacing: 0.93px;
  line-height: normal;
  position: absolute;
  top: 119px;
}

.element-screen .overlap-45 {
  border: 1.17px solid;
  border-color: #c8982a;
  height: 162px;
  left: 933px;
  position: absolute;
  top: 1588px;
  width: 178px;
}

.element-screen .overlap-46 {
  border: 1.17px solid;
  border-color: #c8982a;
  height: 162px;
  left: 933px;
  position: absolute;
  top: 1830px;
  width: 178px;
}

.element-screen .text-wrapper-64 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 23.3px;
  font-weight: 700;
  left: 14px;
  letter-spacing: 0.93px;
  line-height: normal;
  position: absolute;
  top: 114px;
}

.element-screen .overlap-47 {
  border: 1.17px solid;
  border-color: #c8982a;
  height: 162px;
  left: 1148px;
  position: absolute;
  top: 1588px;
  width: 178px;
}

.element-screen .overlap-48 {
  border: 1.17px solid;
  border-color: #c8982a;
  height: 162px;
  left: 1148px;
  position: absolute;
  top: 1830px;
  width: 178px;
}

.element-screen .text-wrapper-65 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 23.3px;
  font-weight: 700;
  left: 19px;
  letter-spacing: 0.93px;
  line-height: normal;
  position: absolute;
  top: 114px;
}

.element-screen .text-wrapper-66 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 44px;
  font-weight: 700;
  left: 426px;
  letter-spacing: 1.76px;
  line-height: normal;
  position: absolute;
  top: 3354px;
  width: 546px;
}

.element-screen .text-wrapper-67 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 23.3px;
  font-weight: 400;
  left: 150px;
  letter-spacing: 0.93px;
  line-height: 31.5px;
  position: absolute;
  text-align: center;
  top: 3523px;
  width: 1095px;
}

.element-screen .overlap-49 {
  height: 203px;
  left: 72px;
  position: absolute;
  top: 3630px;
  width: 140px;
}

.element-screen .rectangle-8 {
  border: 1.17px solid;
  border-color: #c8982a;
  height: 203px;
  left: 0;
  position: absolute;
  top: 0;
  width: 136px;
}

.element-screen .document-translation-3 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 21px;
  font-weight: 700;
  left: 16px;
  letter-spacing: 0.84px;
  line-height: normal;
  position: absolute;
  top: 100px;
  width: 124px;
}

.element-screen .img-7 {
  height: 44px;
  left: 45px;
  position: absolute;
  top: 24px;
  width: 44px;
}

.element-screen .overlap-50 {
  border: 1.17px solid;
  border-color: #c8982a;
  height: 203px;
  left: 272px;
  position: absolute;
  top: 3630px;
  width: 136px;
}

.element-screen .marketing-material-3 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 21px;
  font-weight: 700;
  left: 13px;
  letter-spacing: 0.84px;
  line-height: normal;
  position: absolute;
  top: 101px;
  width: 108px;
}

.element-screen .goal-3 {
  height: 44px;
  left: 44px;
  position: absolute;
  top: 23px;
  width: 44px;
}

.element-screen .overlap-51 {
  height: 203px;
  left: 504px;
  position: absolute;
  top: 3630px;
  width: 138px;
}

.element-screen .rectangle-9 {
  border: 1.17px solid;
  border-color: #c8982a;
  height: 203px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 136px;
}

.element-screen .website-apps-3 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 21px;
  font-weight: 700;
  left: 24px;
  letter-spacing: 0.84px;
  line-height: normal;
  position: absolute;
  top: 113px;
  width: 90px;
}

.element-screen .website-3 {
  height: 44px;
  left: 47px;
  position: absolute;
  top: 24px;
  width: 44px;
}

.element-screen .overlap-52 {
  height: 203px;
  left: 734px;
  position: absolute;
  top: 3630px;
  width: 138px;
}

.element-screen .text-wrapper-68 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 21px;
  font-weight: 700;
  left: 24px;
  letter-spacing: 0.84px;
  line-height: normal;
  position: absolute;
  top: 113px;
  width: 113px;
}

.element-screen .overlap-53 {
  height: 203px;
  left: 970px;
  position: absolute;
  top: 3630px;
  width: 141px;
}

.element-screen .text-wrapper-69 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 21px;
  font-weight: 700;
  left: 5px;
  letter-spacing: 0.84px;
  line-height: normal;
  position: absolute;
  top: 113px;
  width: 136px;
}

.element-screen .e-commerce-3 {
  height: 44px;
  left: 50px;
  position: absolute;
  top: 24px;
  width: 44px;
}

.element-screen .overlap-54 {
  height: 203px;
  left: 1188px;
  position: absolute;
  top: 3630px;
  width: 141px;
}

.element-screen .biotech-3 {
  height: 44px;
  left: 43px;
  position: absolute;
  top: 17px;
  width: 44px;
}

.element-screen .our-growth-would-not-3 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18.7px;
  font-weight: 400;
  left: 138px;
  letter-spacing: 0.75px;
  line-height: 30.8px;
  position: absolute;
  text-align: center;
  top: 2822px;
  width: 332px;
}

.element-screen .text-wrapper-70 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18.7px;
  font-weight: 400;
  left: 532px;
  letter-spacing: 0.75px;
  line-height: 30.6px;
  position: absolute;
  text-align: center;
  top: 2827px;
  width: 332px;
}

.element-screen .we-are-a-german-3 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18.7px;
  font-weight: 400;
  left: 924px;
  letter-spacing: 0.75px;
  line-height: 18.7px;
  position: absolute;
  text-align: center;
  top: 2827px;
  width: 332px;
}

.element-screen .text-wrapper-71 {
  line-height: 24.9px;
}

.element-screen .text-wrapper-72 {
  line-height: 30.6px;
}

.element-screen .text-wrapper-73 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 43.1px;
  font-weight: 700;
  left: 385px;
  letter-spacing: 1.73px;
  line-height: normal;
  position: absolute;
  top: 2329px;
  width: 626px;
}

.element-screen .every-translation-3 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 23.3px;
  font-weight: 400;
  left: 234px;
  letter-spacing: 0.93px;
  line-height: 31.5px;
  position: absolute;
  text-align: center;
  top: 2420px;
}

.element-screen .text-wrapper-74 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 21px;
  font-weight: 400;
  left: 233px;
  letter-spacing: 0.84px;
  line-height: 34.6px;
  position: absolute;
  text-align: center;
  top: 2734px;
  white-space: nowrap;
}

.element-screen .text-wrapper-75 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 21px;
  font-weight: 400;
  left: 655px;
  letter-spacing: 0.84px;
  line-height: 34.6px;
  position: absolute;
  text-align: center;
  top: 2734px;
  white-space: nowrap;
}

.element-screen .text-wrapper-76 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 21px;
  font-weight: 400;
  left: 1017px;
  letter-spacing: 0.84px;
  line-height: 34.6px;
  position: absolute;
  text-align: center;
  top: 2734px;
  white-space: nowrap;
}

.element-screen .text-wrapper-77 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 21px;
  font-weight: 400;
  left: 220px;
  letter-spacing: 0.84px;
  line-height: 34.6px;
  position: absolute;
  text-align: center;
  top: 2689px;
  white-space: nowrap;
}

.element-screen .text-wrapper-78 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 21px;
  font-weight: 400;
  left: 639px;
  letter-spacing: 0.84px;
  line-height: 34.6px;
  position: absolute;
  text-align: center;
  top: 2689px;
  white-space: nowrap;
}

.element-screen .text-wrapper-79 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 21px;
  font-weight: 400;
  left: 989px;
  letter-spacing: 0.84px;
  line-height: 34.6px;
  position: absolute;
  text-align: center;
  top: 2689px;
  white-space: nowrap;
}

.element-screen .ellipse-7 {
  height: 98px;
  left: 246px;
  object-fit: cover;
  position: absolute;
  top: 2561px;
  width: 98px;
}

.element-screen .ellipse-8 {
  height: 98px;
  left: 647px;
  object-fit: cover;
  position: absolute;
  top: 2559px;
  width: 98px;
}

.element-screen .ellipse-9 {
  height: 98px;
  left: 1073px;
  object-fit: cover;
  position: absolute;
  top: 2561px;
  width: 98px;
}

.element-screen .star-1-10 {
  height: 22px !important;
  left: 220px !important;
  position: absolute !important;
  top: 3057px !important;
  width: 27px !important;
}

.element-screen .star-6-9 {
  height: 22px !important;
  left: 616px !important;
  position: absolute !important;
  top: 3057px !important;
  width: 27px !important;
}

.element-screen .star-11-10 {
  height: 22px !important;
  left: 1007px !important;
  position: absolute !important;
  top: 3057px !important;
  width: 27px !important;
}

.element-screen .star-2-10 {
  height: 22px !important;
  left: 255px !important;
  position: absolute !important;
  top: 3057px !important;
  width: 27px !important;
}

.element-screen .star-7-9 {
  height: 22px !important;
  left: 651px !important;
  position: absolute !important;
  top: 3057px !important;
  width: 27px !important;
}

.element-screen .star-12-10 {
  height: 22px !important;
  left: 1042px !important;
  position: absolute !important;
  top: 3057px !important;
  width: 27px !important;
}

.element-screen .star-3-10 {
  height: 22px !important;
  left: 290px !important;
  position: absolute !important;
  top: 3057px !important;
  width: 28px !important;
}

.element-screen .star-8-9 {
  height: 22px !important;
  left: 686px !important;
  position: absolute !important;
  top: 3057px !important;
  width: 28px !important;
}

.element-screen .star-13-10 {
  height: 22px !important;
  left: 1077px !important;
  position: absolute !important;
  top: 3057px !important;
  width: 28px !important;
}

.element-screen .star-4-10 {
  height: 22px !important;
  left: 326px !important;
  position: absolute !important;
  top: 3057px !important;
  width: 27px !important;
}

.element-screen .star-9-9 {
  height: 22px !important;
  left: 722px !important;
  position: absolute !important;
  top: 3057px !important;
  width: 27px !important;
}

.element-screen .star-14-10 {
  height: 22px !important;
  left: 1113px !important;
  position: absolute !important;
  top: 3057px !important;
  width: 27px !important;
}

.element-screen .star-5-10 {
  height: 22px !important;
  left: 361px !important;
  position: absolute !important;
  top: 3057px !important;
  width: 27px !important;
}

.element-screen .star-10-9 {
  height: 22px !important;
  left: 757px !important;
  position: absolute !important;
  top: 3057px !important;
  width: 27px !important;
}

.element-screen .star-15-10 {
  height: 22px !important;
  left: 1148px !important;
  position: absolute !important;
  top: 3057px !important;
  width: 27px !important;
}

.element-screen .frame-3 {
  background-color: #000000;
  height: 475px;
  left: 0;
  position: absolute;
  top: 4051px;
  width: 1401px;
}

.element-screen .text-wrapper-80 {
  color: #ffffff;
  font-family: "Lato", Helvetica;
  font-size: 21px;
  font-weight: 400;
  left: 224px;
  letter-spacing: 0.84px;
  line-height: 34.6px;
  position: absolute;
  top: 136px;
  width: 952px;
}

.element-screen .text-wrapper-81 {
  color: #ffffff;
  font-family: "Lato", Helvetica;
  font-size: 21px;
  font-weight: 400;
  left: 224px;
  letter-spacing: 0.84px;
  line-height: 34.6px;
  position: absolute;
  top: 290px;
  white-space: nowrap;
  width: 617px;
}
