.frame {
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 1200px;
  padding: 100px 85px;
  position: relative;
}

.frame .div {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.frame .div-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 27px;
  position: relative;
  width: 486px;
}

.frame .text-wrapper {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-right: -15px;
  margin-top: -1px;
  position: relative;
  width: 501px;
}

.frame .element-languages-that {
  color: #383836;
  font-family: "Lato", Helvetica;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 42px;
  margin-right: -54px;
  position: relative;
  width: 540px;
}

.frame .group {
  height: 55px;
  min-width: 337px;
  position: relative;
}

.frame .overlap-group {
  background-color: #c8982a;
  height: 55px;
  position: relative;
  width: 335px;
}

.frame .talk-to-an-expert {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 13px;
  font-weight: 800;
  height: 9px;
  left: 63px;
  letter-spacing: 1px;
  line-height: 13px;
  position: absolute;
  text-align: center;
  top: 23px;
  white-space: nowrap;
  width: 209px;
}

.frame .img {
  height: 365px;
  min-width: 305px;
  position: relative;
}
