.frame {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .div {
  background-color: #ffffff;
  border: 1px none;
  height: 2965px;
  position: relative;
  width: 6410px;
}

.frame .rectangle-6 {
  left: 4982px !important;
  position: absolute !important;
  top: 199px !important;
}

.frame .vector {
  height: 1386px;
  left: 3480px;
  object-fit: cover;
  position: absolute;
  top: 199px;
  width: 1366px;
}

.frame .group {
  height: 1436px;
  left: 1609px;
  position: absolute;
  top: 1022px;
  width: 1260px;
}

.frame .overlap-group {
  height: 1436px;
  position: relative;
}

.frame .rectangle-instance {
  left: 175px !important;
  position: absolute !important;
  top: 0 !important;
}

.frame .img {
  height: 1140px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 296px;
  width: 985px;
}

.frame .overlap-wrapper {
  height: 1436px;
  left: 4982px;
  position: absolute;
  top: 1170px;
  width: 1260px;
}
