.iphone-pro-max-screen {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.iphone-pro-max-screen .iphone-pro-max-2 {
  background-color: #ffffff;
  border: 1px none;
  height: 912px;
  position: relative;
  width: 430px;
}

.iphone-pro-max-screen .text-wrapper-28 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 48px;
  font-weight: 700;
  left: 28px;
  letter-spacing: 1.92px;
  line-height: 70.1px;
  position: absolute;
  text-align: center;
  top: 117px;
  width: 366px;
}

.iphone-pro-max-screen .element-languages-that-3 {
  color: #383836;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 199px;
  left: 5px;
  letter-spacing: 0.6px;
  line-height: 66.3px;
  position: absolute;
  text-align: center;
  top: 396px;
  width: 421px;
}

.iphone-pro-max-screen .div-wrapper {
  background-color: #0536a8;
  height: 158px;
  left: 0;
  position: absolute;
  top: 665px;
  width: 430px;
}

.iphone-pro-max-screen .click-to-discover-2 {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 26.8px;
  font-weight: 300;
  height: 26px;
  left: 81px;
  letter-spacing: 1.34px;
  line-height: 17.4px;
  position: absolute;
  text-align: center;
  top: 65px;
  width: 268px;
}

.iphone-pro-max-screen .magma-translation-3 {
  height: 54px;
  left: 118px;
  position: absolute;
  top: 34px;
  width: 194px;
}
