.vector {
  background-image: url(../../../static/img/vector-1-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 311px;
  left: 1652px;
  position: relative;
  top: 1135px;
  width: 208px;
}
