.index {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.index .div {
  background-color: #ffffff;
  position: relative;
}

.index .group-2 {
  position: absolute;
}

.index .text-wrapper {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  left: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.index .element-languages-that {
  color: #383836;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  left: 0;
  position: absolute;
}

.index .class {
  font-size: 17.9px !important;
  height: 8px !important;
  left: 60px !important;
  letter-spacing: 0.9px !important;
  line-height: 11.7px !important;
  top: 20px !important;
  width: 200px !important;
}

.index .class-2 {
  font-size: 20.5px !important;
  left: 69px !important;
  letter-spacing: 1.03px !important;
  line-height: 13.3px !important;
  width: 228px !important;
}

.index .class-3 {
  font-size: 22px !important;
  height: 10px !important;
  left: 74px !important;
  letter-spacing: 1.1px !important;
  line-height: 14.3px !important;
  top: 24px !important;
  width: 245px !important;
}

.index .class-4 {
  font-size: 24.3px !important;
  height: 11px !important;
  left: 82px !important;
  letter-spacing: 1.22px !important;
  line-height: 15.8px !important;
  top: 27px !important;
  width: 271px !important;
}

.index .class-5 {
  border-radius: 24.62px !important;
  height: 49px !important;
  left: 0 !important;
  position: absolute !important;
  top: 304px !important;
  width: 320px !important;
}

.index .class-6 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 0 !important;
  position: absolute !important;
  top: 348px !important;
  width: 366px !important;
}

.index .class-7 {
  border-radius: 30.15px !important;
  height: 60px !important;
  left: 0 !important;
  position: absolute !important;
  top: 373px !important;
  width: 392px !important;
}

.index .class-8 {
  border-radius: 33.36px !important;
  height: 66px !important;
  left: 0 !important;
  position: absolute !important;
  top: 412px !important;
  width: 434px !important;
}

.index .class-9 {
  background-image: url(../../../static/img/whatsapp-image-2023-07-12-at-12-41-1-3.png) !important;
  height: 318px !important;
  left: 749px !important;
  position: absolute !important;
  top: 198px !important;
  width: 245px !important;
}

.index .class-10 {
  background-image: url(../../../static/img/whatsapp-image-2023-07-12-at-12-41-1.png) !important;
  height: 364px !important;
  left: 857px !important;
  position: absolute !important;
  top: 227px !important;
  width: 280px !important;
}

.index .class-11 {
  background-image: url(../../../static/img/whatsapp-image-2023-07-12-at-12-41-1-4.png) !important;
  height: 390px !important;
  left: 918px !important;
  position: absolute !important;
  top: 243px !important;
  width: 300px !important;
}

.index .class-12 {
  background-image: url(../../../static/img/whatsapp-image-2023-07-12-at-12-41-1-2.png) !important;
  height: 431px !important;
  left: 1015px !important;
  position: absolute !important;
  top: 269px !important;
  width: 332px !important;
}

.index .class-13 {
  background-image: url(../../../static/img/magma-translation-png-3.png) !important;
  height: 55px !important;
  left: 56px !important;
  position: absolute !important;
  top: 47px !important;
  width: 196px !important;
}

.index .class-14 {
  background-image: url(../../../static/img/magma-translation-png.png) !important;
  height: 62px !important;
  left: 64px !important;
  position: absolute !important;
  top: 54px !important;
  width: 224px !important;
}

.index .class-15 {
  background-image: url(../../../static/img/magma-translation-png-4.png) !important;
  height: 67px !important;
  left: 69px !important;
  position: absolute !important;
  top: 58px !important;
  width: 240px !important;
}

.index .class-16 {
  background-image: url(../../../static/img/magma-translation-png-2.png) !important;
  height: 74px !important;
  left: 76px !important;
  position: absolute !important;
  top: 64px !important;
  width: 266px !important;
}

.index .p {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.index .text-wrapper-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.index .img {
  position: absolute;
}

.index .overlap {
  background-size: 100% 100%;
  position: absolute;
}

.index .text-wrapper-3 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.index .law {
  position: absolute;
}

.index .overlap-group {
  background-size: 100% 100%;
  position: absolute;
}

.index .media-films {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.index .next {
  position: absolute;
}

.index .overlap-2 {
  border-color: #c8982a;
  position: absolute;
}

.index .text-wrapper-4 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.index .medical-bag {
  position: absolute;
}

.index .overlap-3 {
  border-color: #c8982a;
  position: absolute;
}

.index .text-wrapper-5 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.index .MBA {
  position: absolute;
}

.index .overlap-4 {
  border-color: #c8982a;
  position: absolute;
}

.index .text-wrapper-6 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.index .manufacturing {
  position: absolute;
}

.index .overlap-5 {
  border-color: #c8982a;
  position: absolute;
}

.index .text-wrapper-7 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.index .tesla-model-x {
  position: absolute;
}

.index .overlap-6 {
  border-color: #c8982a;
  position: absolute;
}

.index .text-wrapper-8 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.index .money-bag-pounds {
  position: absolute;
}

.index .overlap-7 {
  border-color: #c8982a;
  position: absolute;
}

.index .text-wrapper-9 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.index .commercial {
  position: absolute;
}

.index .overlap-8 {
  border-color: #c8982a;
  position: absolute;
}

.index .IT-software {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.index .programming-flag {
  position: absolute;
}

.index .overlap-9 {
  border-color: #c8982a;
  position: absolute;
}

.index .text-wrapper-10 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.index .biotech {
  position: absolute;
}

.index .overlap-10 {
  border-color: #c8982a;
  position: absolute;
}

.index .text-wrapper-11 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.index .plane {
  position: absolute;
}

.index .overlap-group-2 {
  border-color: #c8982a;
  position: absolute;
}

.index .text-wrapper-12 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.index .buy {
  position: absolute;
}
