.index {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.index .div {
  background-color: #ffffff;
  position: relative;
}

.index .group-2 {
  position: absolute;
}

.index .text-wrapper {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  left: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.index .element-languages-that {
  color: #383836;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  left: 0;
  position: absolute;
}

.index .class {
  font-size: 22.3px !important;
  height: 10px !important;
  left: 75px !important;
  letter-spacing: 1.11px !important;
  line-height: 14.5px !important;
  top: 24px !important;
  width: 248px !important;
}

.index .class-2 {
  font-size: 23.9px !important;
  height: 11px !important;
  left: 80px !important;
  letter-spacing: 1.2px !important;
  line-height: 15.5px !important;
  top: 26px !important;
  width: 266px !important;
}

.index .class-3 {
  font-size: 20.5px !important;
  left: 69px !important;
  letter-spacing: 1.03px !important;
  line-height: 13.3px !important;
  width: 228px !important;
}

.index .class-4 {
  border-radius: 30.55px !important;
  height: 61px !important;
  left: 0 !important;
  position: absolute !important;
  top: 378px !important;
  transition: all 0.2s ease !important;
  width: 397px !important;
}

.index .class-5 {
  border-radius: 32.84px !important;
  height: 65px !important;
  left: 0 !important;
  position: absolute !important;
  top: 406px !important;
  transition: all 0.2s ease !important;
  width: 427px !important;
}

.index .class-6 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 0 !important;
  position: absolute !important;
  top: 348px !important;
  transition: all 0.2s ease !important;
  width: 366px !important;
}

.index .overlap-group-wrapper {
  position: absolute;
  transition: all 0.2s ease;
}

.index .overlap-group {
  position: relative;
}

.index .rectangle {
  background-color: #0536a8;
  left: 0;
  position: absolute;
  top: 0;
}

.index .talk-to-an-expert-2 {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-weight: 300;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.index .overlap-wrapper {
  position: absolute;
  transition: all 0.2s ease;
}

.index .overlap {
  position: relative;
}

.index .rectangle-2 {
  background-color: #0536a8;
  left: 0;
  position: absolute;
  top: 0;
}

.index .talk-to-an-expert-3 {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-weight: 300;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.index .class-7 {
  background-image: url(../../../static/img/whatsapp-image-2023-07-12-at-12-41-1-5.png) !important;
  height: 424px !important;
  left: 999px !important;
  position: absolute !important;
  top: 265px !important;
  width: 327px !important;
}

.index .class-8 {
  background-image: url(../../../static/img/whatsapp-image-2023-07-12-at-12-41-1.png) !important;
  height: 364px !important;
  left: 857px !important;
  position: absolute !important;
  top: 227px !important;
  width: 280px !important;
}

.index .class-9 {
  background-image: url(../../../static/img/whatsapp-image-2023-07-12-at-12-41-1-7.png) !important;
  height: 395px !important;
  left: 927px !important;
  position: absolute !important;
  top: 246px !important;
  width: 304px !important;
}

.index .class-10 {
  background-image: url(../../../static/img/magma-translation-png-4.png) !important;
  height: 73px !important;
  left: 75px !important;
  position: absolute !important;
  top: 63px !important;
  width: 262px !important;
}

.index .class-11 {
  background-image: url(../../../static/img/magma-translation-png.png) !important;
  height: 62px !important;
  left: 64px !important;
  position: absolute !important;
  top: 54px !important;
  width: 224px !important;
}

.index .class-12 {
  background-image: url(../../../static/img/magma-translation-png-6.png) !important;
  height: 68px !important;
  left: 69px !important;
  position: absolute !important;
  top: 59px !important;
  width: 243px !important;
}

.index .p {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.index .text-wrapper-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.index .img {
  position: absolute;
}

.index .overlap-2 {
  background-size: 100% 100%;
  position: absolute;
}

.index .text-wrapper-3 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.index .law {
  position: absolute;
}

.index .overlap-3 {
  background-size: 100% 100%;
  position: absolute;
}

.index .media-films {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.index .next {
  position: absolute;
}

.index .overlap-4 {
  border-color: #c8982a;
  position: absolute;
}

.index .text-wrapper-4 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.index .medical-bag {
  position: absolute;
}

.index .overlap-5 {
  border-color: #c8982a;
  position: absolute;
}

.index .text-wrapper-5 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.index .MBA {
  position: absolute;
}

.index .overlap-6 {
  border-color: #c8982a;
  position: absolute;
}

.index .text-wrapper-6 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.index .manufacturing {
  position: absolute;
}

.index .overlap-7 {
  border-color: #c8982a;
  position: absolute;
}

.index .text-wrapper-7 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.index .tesla-model-x {
  position: absolute;
}

.index .overlap-8 {
  border-color: #c8982a;
  position: absolute;
}

.index .text-wrapper-8 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.index .money-bag-pounds {
  position: absolute;
}

.index .overlap-9 {
  border-color: #c8982a;
  position: absolute;
}

.index .text-wrapper-9 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.index .commercial {
  position: absolute;
}

.index .overlap-10 {
  border-color: #c8982a;
  position: absolute;
}

.index .IT-software {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.index .programming-flag {
  position: absolute;
}

.index .overlap-11 {
  border-color: #c8982a;
  position: absolute;
}

.index .text-wrapper-10 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.index .biotech {
  position: absolute;
}

.index .overlap-12 {
  border-color: #c8982a;
  position: absolute;
}

.index .text-wrapper-11 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.index .plane {
  position: absolute;
}

.index .overlap-13 {
  border-color: #c8982a;
  position: absolute;
}

.index .text-wrapper-12 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.index .buy {
  position: absolute;
}

.index .text-wrapper-13 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.index .text-wrapper-14 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
}

.index .overlap-14 {
  position: absolute;
}

.index .rectangle-3 {
  border-color: #c8982a;
  left: 0;
  position: absolute;
  top: 0;
}

.index .rectangle-4 {
  border-color: #c8982a;
  left: 0;
  position: absolute;
  top: 0;
}

.index .document-translation {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.index .PDF {
  position: absolute;
}

.index .overlap-15 {
  border-color: #c8982a;
  position: absolute;
}

.index .marketing-material {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.index .goal {
  position: absolute;
}

.index .overlap-16 {
  position: absolute;
}

.index .rectangle-5 {
  border-color: #c8982a;
  left: 1px;
  position: absolute;
  top: 0;
}

.index .rectangle-6 {
  border-color: #c8982a;
  left: 0;
  position: absolute;
  top: 0;
}

.index .website-apps {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.index .website {
  position: absolute;
}

.index .overlap-17 {
  position: absolute;
}

.index .rectangle-7 {
  border-color: #c8982a;
  left: 1px;
  position: absolute;
  top: 0;
}

.index .rectangle-8 {
  border-color: #c8982a;
  left: 0;
  position: absolute;
  top: 0;
}

.index .text-wrapper-15 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.index .video-camera {
  position: absolute;
}

.index .overlap-18 {
  position: absolute;
}

.index .rectangle-9 {
  border-color: #c8982a;
  left: 1px;
  position: absolute;
  top: 0;
}

.index .rectangle-10 {
  border-color: #c8982a;
  left: 0;
  position: absolute;
  top: 0;
}

.index .text-wrapper-16 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.index .e-commerce {
  position: absolute;
}

.index .overlap-19 {
  position: absolute;
}

.index .rectangle-11 {
  border-color: #c8982a;
  left: 1px;
  position: absolute;
  top: 0;
}

.index .rectangle-12 {
  border-color: #c8982a;
  left: 0;
  position: absolute;
  top: 0;
}

.index .rectangle-13 {
  border-color: #c8982a;
  left: 0;
  position: absolute;
  top: 0;
}

.index .text-wrapper-17 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.index .biotech-2 {
  position: absolute;
}

.index .our-growth-would-not {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
}

.index .text-wrapper-18 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
}

.index .we-are-a-german {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
}

.index .text-wrapper-19 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.index .every-translation {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
}

.index .text-wrapper-20 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.index .text-wrapper-21 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.index .text-wrapper-22 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.index .text-wrapper-23 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.index .text-wrapper-24 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.index .text-wrapper-25 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.index .ellipse {
  object-fit: cover;
  position: absolute;
}

.index .ellipse-2 {
  object-fit: cover;
  position: absolute;
}

.index .ellipse-3 {
  object-fit: cover;
  position: absolute;
}

.index .star {
  height: 19px !important;
  left: 188px !important;
  position: absolute !important;
  top: 2622px !important;
  width: 23px !important;
}

.index .star-6-6 {
  height: 19px !important;
  left: 528px !important;
  position: absolute !important;
  top: 2622px !important;
  width: 23px !important;
}

.index .star-11-7 {
  height: 19px !important;
  left: 863px !important;
  position: absolute !important;
  top: 2622px !important;
  width: 23px !important;
}

.index .star-2-7 {
  height: 19px !important;
  left: 218px !important;
  position: absolute !important;
  top: 2622px !important;
  width: 23px !important;
}

.index .star-7-6 {
  height: 19px !important;
  left: 558px !important;
  position: absolute !important;
  top: 2622px !important;
  width: 23px !important;
}

.index .star-12-7 {
  height: 19px !important;
  left: 893px !important;
  position: absolute !important;
  top: 2622px !important;
  width: 23px !important;
}

.index .star-3-7 {
  height: 19px !important;
  left: 249px !important;
  position: absolute !important;
  top: 2622px !important;
  width: 24px !important;
}

.index .star-8-6 {
  height: 19px !important;
  left: 589px !important;
  position: absolute !important;
  top: 2622px !important;
  width: 24px !important;
}

.index .star-13-7 {
  height: 19px !important;
  left: 924px !important;
  position: absolute !important;
  top: 2622px !important;
  width: 24px !important;
}

.index .star-4-7 {
  height: 19px !important;
  left: 279px !important;
  position: absolute !important;
  top: 2622px !important;
  width: 23px !important;
}

.index .star-9-6 {
  height: 19px !important;
  left: 619px !important;
  position: absolute !important;
  top: 2622px !important;
  width: 23px !important;
}

.index .star-14-7 {
  height: 19px !important;
  left: 954px !important;
  position: absolute !important;
  top: 2622px !important;
  width: 23px !important;
}

.index .star-5-7 {
  height: 19px !important;
  left: 309px !important;
  position: absolute !important;
  top: 2622px !important;
  width: 23px !important;
}

.index .star-10-6 {
  height: 19px !important;
  left: 649px !important;
  position: absolute !important;
  top: 2622px !important;
  width: 23px !important;
}

.index .star-15-7 {
  height: 19px !important;
  left: 984px !important;
  position: absolute !important;
  top: 2622px !important;
  width: 23px !important;
}

.index .star-1-8 {
  height: 20px !important;
  left: 203px !important;
  position: absolute !important;
  top: 2844px !important;
  width: 25px !important;
}

.index .star-6-7 {
  height: 20px !important;
  left: 572px !important;
  position: absolute !important;
  top: 2844px !important;
  width: 25px !important;
}

.index .star-11-8 {
  height: 20px !important;
  left: 935px !important;
  position: absolute !important;
  top: 2844px !important;
  width: 25px !important;
}

.index .star-2-8 {
  height: 20px !important;
  left: 236px !important;
  position: absolute !important;
  top: 2844px !important;
  width: 25px !important;
}

.index .star-7-7 {
  height: 20px !important;
  left: 605px !important;
  position: absolute !important;
  top: 2844px !important;
  width: 25px !important;
}

.index .star-12-8 {
  height: 20px !important;
  left: 967px !important;
  position: absolute !important;
  top: 2844px !important;
  width: 25px !important;
}

.index .star-3-8 {
  height: 20px !important;
  left: 270px !important;
  position: absolute !important;
  top: 2844px !important;
  width: 26px !important;
}

.index .star-8-7 {
  height: 20px !important;
  left: 638px !important;
  position: absolute !important;
  top: 2844px !important;
  width: 26px !important;
}

.index .star-13-8 {
  height: 20px !important;
  left: 1000px !important;
  position: absolute !important;
  top: 2844px !important;
  width: 26px !important;
}

.index .star-4-8 {
  height: 20px !important;
  left: 303px !important;
  position: absolute !important;
  top: 2844px !important;
  width: 25px !important;
}

.index .star-9-7 {
  height: 20px !important;
  left: 670px !important;
  position: absolute !important;
  top: 2844px !important;
  width: 25px !important;
}

.index .star-14-8 {
  height: 20px !important;
  left: 1034px !important;
  position: absolute !important;
  top: 2844px !important;
  width: 25px !important;
}

.index .star-5-8 {
  height: 20px !important;
  left: 336px !important;
  position: absolute !important;
  top: 2844px !important;
  width: 25px !important;
}

.index .star-10-7 {
  height: 20px !important;
  left: 703px !important;
  position: absolute !important;
  top: 2844px !important;
  width: 25px !important;
}

.index .star-15-8 {
  height: 20px !important;
  left: 1065px !important;
  position: absolute !important;
  top: 2844px !important;
  width: 25px !important;
}

.index .frame {
  background-color: #000000;
  left: 0;
  position: absolute;
}

.index .text-wrapper-26 {
  color: #ffffff;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
}

.index .text-wrapper-27 {
  color: #ffffff;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  white-space: nowrap;
}

.index .star-1-6 {
  height: 22px !important;
  left: 220px !important;
  position: absolute !important;
  top: 3057px !important;
  width: 27px !important;
}

.index .star-6-5 {
  height: 22px !important;
  left: 616px !important;
  position: absolute !important;
  top: 3057px !important;
  width: 27px !important;
}

.index .star-11-6 {
  height: 22px !important;
  left: 1007px !important;
  position: absolute !important;
  top: 3057px !important;
  width: 27px !important;
}

.index .star-2-6 {
  height: 22px !important;
  left: 255px !important;
  position: absolute !important;
  top: 3057px !important;
  width: 27px !important;
}

.index .star-7-5 {
  height: 22px !important;
  left: 651px !important;
  position: absolute !important;
  top: 3057px !important;
  width: 27px !important;
}

.index .star-12-6 {
  height: 22px !important;
  left: 1042px !important;
  position: absolute !important;
  top: 3057px !important;
  width: 27px !important;
}

.index .star-3-6 {
  height: 22px !important;
  left: 290px !important;
  position: absolute !important;
  top: 3057px !important;
  width: 28px !important;
}

.index .star-8-5 {
  height: 22px !important;
  left: 686px !important;
  position: absolute !important;
  top: 3057px !important;
  width: 28px !important;
}

.index .star-13-6 {
  height: 22px !important;
  left: 1077px !important;
  position: absolute !important;
  top: 3057px !important;
  width: 28px !important;
}

.index .star-4-6 {
  height: 22px !important;
  left: 326px !important;
  position: absolute !important;
  top: 3057px !important;
  width: 27px !important;
}

.index .star-9-5 {
  height: 22px !important;
  left: 722px !important;
  position: absolute !important;
  top: 3057px !important;
  width: 27px !important;
}

.index .star-14-6 {
  height: 22px !important;
  left: 1113px !important;
  position: absolute !important;
  top: 3057px !important;
  width: 27px !important;
}

.index .star-5-6 {
  height: 22px !important;
  left: 361px !important;
  position: absolute !important;
  top: 3057px !important;
  width: 27px !important;
}

.index .star-10-5 {
  height: 22px !important;
  left: 757px !important;
  position: absolute !important;
  top: 3057px !important;
  width: 27px !important;
}

.index .star-15-6 {
  height: 22px !important;
  left: 1148px !important;
  position: absolute !important;
  top: 3057px !important;
  width: 27px !important;
}

.index .frame-2 {
  background-color: #000000;
  height: 475px;
  left: 0;
  position: absolute;
  top: 4051px;
  width: 1401px;
}

.index .text-wrapper-28 {
  color: #ffffff;
  font-family: "Lato", Helvetica;
  font-size: 21px;
  font-weight: 400;
  left: 224px;
  letter-spacing: 0.84px;
  line-height: 34.6px;
  position: absolute;
  top: 136px;
  width: 952px;
}

.index .text-wrapper-29 {
  color: #ffffff;
  font-family: "Lato", Helvetica;
  font-size: 21px;
  font-weight: 400;
  left: 224px;
  letter-spacing: 0.84px;
  line-height: 34.6px;
  position: absolute;
  top: 290px;
  white-space: nowrap;
  width: 617px;
}
