.property-default-wrapper {
  height: 84px;
  position: relative;
  width: 300px;
}

.property-default-wrapper .teste-de-forma-dois {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 300px;
}

.property-default-wrapper .name-wrapper {
  align-items: flex-start;
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  left: 0;
  overflow: hidden;
  padding: 10px 15px;
  position: absolute;
  top: 28px;
  width: 300px;
}

.property-default-wrapper .text-wrapper {
  color: #d2d2d2;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.property-default-wrapper .property-1-disabled {
  background-color: #d8d8d8;
  border-color: #e2e1e5;
}

.property-default-wrapper .property-1-focus {
  background-color: #ffffff;
  border-color: #222222;
}

.property-default-wrapper .property-1-hover {
  background-color: #ffffff;
  border-color: #222222;
}

.property-default-wrapper .property-1-default {
  background-color: #ffffff;
  border-color: #e2e1e5;
}

.property-default-wrapper .property-1-error {
  background-color: #ffffff;
  border-color: #f14668;
}
