.element-wrapper {
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 1200px;
  padding: 100px 174px 100px 85px;
  position: relative;
}

.element-wrapper .frame-5 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.element-wrapper .frame-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 27px;
  position: relative;
  width: 486px;
}

.element-wrapper .text-wrapper-3 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-right: -15px;
  margin-top: -1px;
  position: relative;
  width: 501px;
}

.element-wrapper .element-languages-that-3 {
  color: #383836;
  font-family: "Lato", Helvetica;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 42px;
  margin-right: -54px;
  position: relative;
  width: 540px;
}

.element-wrapper .design-component-instance-node {
  left: unset !important;
  min-width: 335px !important;
  top: unset !important;
  width: unset !important;
}

.element-wrapper .div-wrapper {
  height: 365px;
  min-width: 305px;
  position: relative;
}

.element-wrapper .overlap-group-2 {
  height: 365px;
  position: relative;
  width: 305px;
}

.element-wrapper .rectangle-4 {
  height: 341px;
  left: 24px;
  position: absolute;
  top: 0;
  width: 281px;
}

.element-wrapper .vector-3 {
  background-image: url(../../../static/img/vector-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 311px;
  left: 24px;
  position: absolute;
  top: 42px;
  width: 208px;
}

.element-wrapper .rectangle-5 {
  height: 244px;
  left: 0;
  position: absolute;
  top: 121px;
  width: 24px;
}

.element-wrapper .rectangle-6 {
  height: 24px;
  left: 0;
  position: absolute;
  top: 341px;
  width: 254px;
}
