.element {
  background-color: #ffffff;
  display: flex;
}

.element .iphone-pro-max {
  position: relative;
}

.element .frame {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.element .text-wrapper {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.element .element-languages-that {
  color: #383836;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
  position: relative;
}

.element .group {
  position: relative;
}

.element .overlap-group {
  background-color: #c8982a;
  position: relative;
}

.element .talk-to-an-expert {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-weight: 800;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.element .vector {
  object-fit: cover;
  position: absolute;
  top: 30px;
}

.element .overlap {
  height: 365px;
  position: relative;
  width: 305px;
}

.element .rectangle {
  height: 341px;
  left: 24px;
  position: absolute;
  top: 0;
  width: 281px;
}

.element .img {
  position: absolute;
}

.element .rectangle-2 {
  left: 0;
  position: absolute;
}

.element .vector-2 {
  position: absolute;
}
