.OB-forms-teste-de {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
}

.OB-forms-teste-de .teste-de-form {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 28px;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 300px;
}

.OB-forms-teste-de .frame {
  align-items: flex-start;
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 10px 15px;
  position: relative;
  width: 300px;
}

.OB-forms-teste-de .name {
  align-self: stretch;
  color: #d2d2d2;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
}

.OB-forms-teste-de .min-height {
  height: 84px;
  min-width: 1px;
  position: relative;
}

.OB-forms-teste-de .disabled {
  background-color: #d8d8d8;
  border-color: #e2e1e5;
}

.OB-forms-teste-de .focus {
  background-color: #ffffff;
  border-color: #222222;
}

.OB-forms-teste-de .hover {
  background-color: #ffffff;
  border-color: #222222;
}

.OB-forms-teste-de .default {
  background-color: #ffffff;
  border-color: #e2e1e5;
}

.OB-forms-teste-de .error {
  background-color: #ffffff;
  border-color: #f14668;
}
