.tablet {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.tablet .div-2 {
  background-color: #ffffff;
  position: relative;
}

.tablet .class {
  background-image: url(../../../static/img/whatsapp-image-2023-07-12-at-12-41-1.png) !important;
  height: 364px !important;
  left: 857px !important;
  position: absolute !important;
  top: 227px !important;
  width: 280px !important;
}

.tablet .class-2 {
  background-image: url(../../../static/img/whatsapp-image-2023-07-12-at-12-41-1.png) !important;
  height: 364px !important;
  left: 956px !important;
  position: absolute !important;
  top: 227px !important;
  width: 280px !important;
}

.tablet .class-3 {
  background-image: url(../../../static/img/whatsapp-image-2023-07-12-at-12-41-1.png) !important;
  height: 364px !important;
  left: 1026px !important;
  position: absolute !important;
  top: 245px !important;
  width: 280px !important;
}

.tablet .class-4 {
  background-image: url(../../../static/img/whatsapp-image-2023-07-12-at-12-41-1.png) !important;
  height: 364px !important;
  left: 957px !important;
  position: absolute !important;
  top: 227px !important;
  width: 280px !important;
}

.tablet .class-5 {
  background-image: url(../../../static/img/whatsapp-image-2023-07-12-at-12-41-1-2.png) !important;
  height: 225px !important;
  left: 531px !important;
  position: absolute !important;
  top: 141px !important;
  width: 173px !important;
}

.tablet .class-6 {
  background-image: url(../../../static/img/whatsapp-image-2023-07-12-at-12-41-1-3.png) !important;
  height: 303px !important;
  left: 714px !important;
  position: absolute !important;
  top: 189px !important;
  width: 233px !important;
}

.tablet .p {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.tablet .text-wrapper-6 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.tablet .zapier-png {
  position: absolute;
}

.tablet .abbott-png {
  height: 70px;
  position: absolute;
  top: 953px;
  width: 101px;
}

.tablet .zf-png {
  height: 70px;
  position: absolute;
  top: 837px;
  width: 101px;
}

.tablet .anton-paar-png {
  height: 70px;
  position: absolute;
  top: 953px;
  width: 101px;
}

.tablet .crowdin-png {
  height: 70px;
  position: absolute;
  top: 837px;
  width: 101px;
}

.tablet .rectangle-5 {
  height: 70px;
  object-fit: cover;
  position: absolute;
  top: 953px;
  width: 101px;
}

.tablet .cloudwords-png {
  height: 70px;
  position: absolute;
  top: 837px;
  width: 101px;
}

.tablet .rectangle-6 {
  height: 70px;
  object-fit: cover;
  position: absolute;
  top: 953px;
  width: 101px;
}

.tablet .rectangle-7 {
  height: 79px;
  object-fit: cover;
  position: absolute;
  top: 837px;
  width: 111px;
}

.tablet .rectangle-8 {
  height: 70px;
  object-fit: cover;
  position: absolute;
  top: 953px;
  width: 101px;
}

.tablet .rectangle-9 {
  height: 70px;
  object-fit: cover;
  position: absolute;
  top: 837px;
  width: 101px;
}

.tablet .evoltz-png {
  height: 70px;
  position: absolute;
  top: 953px;
  width: 101px;
}

.tablet .rectangle-10 {
  height: 70px;
  object-fit: cover;
  position: absolute;
  top: 837px;
  width: 107px;
}

.tablet .jungheinrich-png {
  height: 70px;
  position: absolute;
  top: 953px;
  width: 101px;
}

.tablet .rectangle-11 {
  height: 70px;
  object-fit: cover;
  position: absolute;
  top: 837px;
  width: 115px;
}

.tablet .shopee-png {
  height: 70px;
  position: absolute;
  top: 953px;
  width: 101px;
}

.tablet .overlap-7 {
  background-size: 100% 100%;
  position: absolute;
}

.tablet .text-wrapper-7 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.tablet .law {
  position: absolute;
}

.tablet .overlap-group-3 {
  background-size: 100% 100%;
  position: absolute;
}

.tablet .media-films {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.tablet .next {
  position: absolute;
}

.tablet .overlap-8 {
  border-color: #c8982a;
  position: absolute;
}

.tablet .text-wrapper-8 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.tablet .medical-bag {
  position: absolute;
}

.tablet .overlap-9 {
  border-color: #c8982a;
  position: absolute;
}

.tablet .text-wrapper-9 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.tablet .MBA {
  position: absolute;
}

.tablet .overlap-10 {
  border-color: #c8982a;
  position: absolute;
}

.tablet .text-wrapper-10 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.tablet .manufacturing {
  position: absolute;
}

.tablet .overlap-group-4 {
  border-color: #c8982a;
  position: absolute;
}

.tablet .text-wrapper-11 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.tablet .tesla-model-x {
  position: absolute;
}

.tablet .overlap-11 {
  border-color: #c8982a;
  position: absolute;
}

.tablet .text-wrapper-12 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.tablet .money-bag-pounds {
  position: absolute;
}

.tablet .overlap-12 {
  border-color: #c8982a;
  position: absolute;
}

.tablet .text-wrapper-13 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.tablet .commercial {
  position: absolute;
}

.tablet .overlap-13 {
  border-color: #c8982a;
  position: absolute;
}

.tablet .IT-software {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.tablet .programming-flag {
  position: absolute;
}

.tablet .overlap-14 {
  border-color: #c8982a;
  position: absolute;
}

.tablet .text-wrapper-14 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.tablet .biotech {
  position: absolute;
}

.tablet .overlap-15 {
  border-color: #c8982a;
  position: absolute;
}

.tablet .text-wrapper-15 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.tablet .plane {
  position: absolute;
}

.tablet .overlap-16 {
  border-color: #c8982a;
  position: absolute;
}

.tablet .text-wrapper-16 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.tablet .buy {
  position: absolute;
}

.tablet .text-wrapper-17 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.tablet .text-wrapper-18 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
}

.tablet .overlap-17 {
  border-color: #c8982a;
  position: absolute;
}

.tablet .document-translation {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.tablet .PDF {
  position: absolute;
}

.tablet .overlap-18 {
  border-color: #c8982a;
  position: absolute;
}

.tablet .marketing-material {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.tablet .goal {
  position: absolute;
}

.tablet .overlap-19 {
  border-color: #c8982a;
  position: absolute;
}

.tablet .website-apps {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.tablet .website {
  position: absolute;
}

.tablet .overlap-20 {
  border-color: #c8982a;
  position: absolute;
}

.tablet .text-wrapper-19 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.tablet .video-camera {
  position: absolute;
}

.tablet .overlap-21 {
  border-color: #c8982a;
  position: absolute;
}

.tablet .text-wrapper-20 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.tablet .e-commerce {
  position: absolute;
}

.tablet .overlap-22 {
  border-color: #c8982a;
  position: absolute;
}

.tablet .text-wrapper-21 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.tablet .biotech-2 {
  position: absolute;
}

.tablet .group-6 {
  position: absolute;
}

.tablet .text-wrapper-22 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  left: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.tablet .element-languages-that {
  color: #383836;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  left: 0;
  position: absolute;
}

.tablet .class-7 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 0 !important;
  position: absolute !important;
  top: 348px !important;
  width: 329px !important;
}

.tablet .class-8 {
  border-radius: 17.44px !important;
  height: 35px !important;
  left: 0 !important;
  position: absolute !important;
  top: 216px !important;
  width: 204px !important;
}

.tablet .class-9 {
  border-radius: 23.45px !important;
  height: 47px !important;
  left: 0 !important;
  position: absolute !important;
  top: 290px !important;
  width: 274px !important;
}

.tablet .group-instance {
  font-size: 20.5px !important;
  left: 62px !important;
  letter-spacing: 1.03px !important;
  line-height: 13.3px !important;
  width: 205px !important;
}

.tablet .class-10 {
  font-size: 12.7px !important;
  height: 6px !important;
  left: 38px !important;
  letter-spacing: 0.64px !important;
  line-height: 8.3px !important;
  top: 14px !important;
  width: 127px !important;
}

.tablet .class-11 {
  font-size: 17.1px !important;
  height: 8px !important;
  left: 52px !important;
  letter-spacing: 0.85px !important;
  line-height: 11.1px !important;
  top: 19px !important;
  width: 171px !important;
}

.tablet .class-12 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 433px !important;
  position: absolute !important;
  top: 1739px !important;
  width: 329px !important;
}

.tablet .class-13 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 482px !important;
  position: absolute !important;
  top: 1739px !important;
  width: 329px !important;
}

.tablet .class-14 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 582px !important;
  position: absolute !important;
  top: 1739px !important;
  width: 329px !important;
}

.tablet .class-15 {
  border-radius: 17.44px !important;
  height: 35px !important;
  left: 268px !important;
  position: absolute !important;
  top: 1077px !important;
  width: 204px !important;
}

.tablet .class-16 {
  border-radius: 23.45px !important;
  height: 47px !important;
  left: 361px !important;
  position: absolute !important;
  top: 1448px !important;
  width: 274px !important;
}

.tablet .class-17 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 433px !important;
  position: absolute !important;
  top: 3139px !important;
  width: 329px !important;
}

.tablet .class-18 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 482px !important;
  position: absolute !important;
  top: 3139px !important;
  width: 329px !important;
}

.tablet .class-19 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 582px !important;
  position: absolute !important;
  top: 3139px !important;
  width: 329px !important;
}

.tablet .class-20 {
  border-radius: 17.44px !important;
  height: 35px !important;
  left: 268px !important;
  position: absolute !important;
  top: 1945px !important;
  width: 204px !important;
}

.tablet .class-21 {
  border-radius: 23.45px !important;
  height: 47px !important;
  left: 361px !important;
  position: absolute !important;
  top: 2614px !important;
  width: 274px !important;
}

.tablet .our-growth-would-not {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
}

.tablet .text-wrapper-23 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
}

.tablet .we-are-a-german {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
}

.tablet .text-wrapper-24 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.tablet .every-translation {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
}

.tablet .text-wrapper-25 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.tablet .text-wrapper-26 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.tablet .text-wrapper-27 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.tablet .text-wrapper-28 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.tablet .text-wrapper-29 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.tablet .text-wrapper-30 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.tablet .ellipse {
  object-fit: cover;
  position: absolute;
}

.tablet .ellipse-2 {
  object-fit: cover;
  position: absolute;
}

.tablet .ellipse-3 {
  object-fit: cover;
  position: absolute;
}

.tablet .star {
  position: absolute;
}

.tablet .star-2 {
  position: absolute;
}

.tablet .star-3 {
  position: absolute;
}

.tablet .star-4 {
  position: absolute;
}

.tablet .star-5 {
  position: absolute;
}

.tablet .star-6 {
  position: absolute;
}

.tablet .star-7 {
  position: absolute;
}

.tablet .star-8 {
  position: absolute;
}

.tablet .star-9 {
  position: absolute;
}

.tablet .star-10 {
  position: absolute;
}

.tablet .star-11 {
  position: absolute;
}

.tablet .star-12 {
  position: absolute;
}

.tablet .star-13 {
  position: absolute;
}

.tablet .star-14 {
  position: absolute;
}

.tablet .star-15 {
  position: absolute;
}

.tablet .magma-translation-2 {
  position: absolute;
}

.tablet .text-wrapper-31 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  text-align: center;
}

.tablet .text-wrapper-32 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  position: absolute;
  white-space: nowrap;
}

.tablet .magma-translation-3 {
  position: absolute;
}

.tablet .group-2-instance {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 532px !important;
  position: absolute !important;
  top: 1739px !important;
  width: 329px !important;
}

.tablet .instance-node {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 532px !important;
  position: absolute !important;
  top: 3139px !important;
  width: 329px !important;
}

.tablet .our-growth-would-not-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 216px;
  letter-spacing: 0.64px;
  line-height: 26.4px;
  position: absolute;
  text-align: center;
  top: 2310px;
  width: 285px;
}

.tablet .text-wrapper-33 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 554px;
  letter-spacing: 0.64px;
  line-height: 26.2px;
  position: absolute;
  text-align: center;
  top: 2309px;
  width: 285px;
}

.tablet .we-are-a-german-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 890px;
  letter-spacing: 0.64px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 2309px;
  width: 285px;
}

.tablet .span {
  line-height: 21.4px;
}

.tablet .text-wrapper-34 {
  line-height: 26.2px;
}

.tablet .text-wrapper-35 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 37px;
  font-weight: 700;
  left: 429px;
  letter-spacing: 1.48px;
  line-height: normal;
  position: absolute;
  top: 1916px;
  width: 537px;
}

.tablet .every-translation-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 300px;
  letter-spacing: 0.8px;
  line-height: 27px;
  position: absolute;
  text-align: center;
  top: 1994px;
}

.tablet .text-wrapper-36 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 299px;
  letter-spacing: 0.72px;
  line-height: 29.7px;
  position: absolute;
  text-align: center;
  top: 2240px;
  white-space: nowrap;
}

.tablet .text-wrapper-37 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 661px;
  letter-spacing: 0.72px;
  line-height: 29.7px;
  position: absolute;
  text-align: center;
  top: 2240px;
  white-space: nowrap;
}

.tablet .text-wrapper-38 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 971px;
  letter-spacing: 0.72px;
  line-height: 29.7px;
  position: absolute;
  text-align: center;
  top: 2240px;
  white-space: nowrap;
}

.tablet .text-wrapper-39 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 288px;
  letter-spacing: 0.72px;
  line-height: 29.7px;
  position: absolute;
  text-align: center;
  top: 2202px;
  white-space: nowrap;
}

.tablet .text-wrapper-40 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 647px;
  letter-spacing: 0.72px;
  line-height: 29.7px;
  position: absolute;
  text-align: center;
  top: 2202px;
  white-space: nowrap;
}

.tablet .text-wrapper-41 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 947px;
  letter-spacing: 0.72px;
  line-height: 29.7px;
  position: absolute;
  text-align: center;
  top: 2202px;
  white-space: nowrap;
}

.tablet .ellipse-4 {
  height: 84px;
  left: 310px;
  object-fit: cover;
  position: absolute;
  top: 2092px;
  width: 84px;
}

.tablet .ellipse-5 {
  height: 84px;
  left: 654px;
  object-fit: cover;
  position: absolute;
  top: 2090px;
  width: 84px;
}

.tablet .ellipse-6 {
  height: 84px;
  left: 1019px;
  object-fit: cover;
  position: absolute;
  top: 2092px;
  width: 84px;
}

.tablet .star-16 {
  height: 19px;
  left: 287px;
  position: absolute;
  top: 2476px;
  width: 23px;
}

.tablet .star-17 {
  height: 19px;
  left: 628px;
  position: absolute;
  top: 2476px;
  width: 23px;
}

.tablet .star-18 {
  height: 19px;
  left: 963px;
  position: absolute;
  top: 2476px;
  width: 23px;
}

.tablet .star-19 {
  height: 19px;
  left: 317px;
  position: absolute;
  top: 2476px;
  width: 23px;
}

.tablet .star-20 {
  height: 19px;
  left: 658px;
  position: absolute;
  top: 2476px;
  width: 23px;
}

.tablet .star-21 {
  height: 19px;
  left: 993px;
  position: absolute;
  top: 2476px;
  width: 23px;
}

.tablet .star-22 {
  height: 19px;
  left: 347px;
  position: absolute;
  top: 2476px;
  width: 23px;
}

.tablet .star-23 {
  height: 19px;
  left: 688px;
  position: absolute;
  top: 2476px;
  width: 23px;
}

.tablet .star-24 {
  height: 19px;
  left: 1023px;
  position: absolute;
  top: 2476px;
  width: 23px;
}

.tablet .star-25 {
  height: 19px;
  left: 377px;
  position: absolute;
  top: 2476px;
  width: 23px;
}

.tablet .star-26 {
  height: 19px;
  left: 718px;
  position: absolute;
  top: 2476px;
  width: 23px;
}

.tablet .star-27 {
  height: 19px;
  left: 1053px;
  position: absolute;
  top: 2476px;
  width: 23px;
}

.tablet .star-28 {
  height: 19px;
  left: 407px;
  position: absolute;
  top: 2476px;
  width: 23px;
}

.tablet .star-29 {
  height: 19px;
  left: 748px;
  position: absolute;
  top: 2476px;
  width: 23px;
}

.tablet .star-30 {
  height: 19px;
  left: 1083px;
  position: absolute;
  top: 2476px;
  width: 23px;
}

.tablet .magma-translation-4 {
  height: 54px;
  left: 167px;
  position: absolute;
  top: 55px;
  width: 194px;
}
