.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div {
  background-color: #ffffff;
  border: 1px none;
  height: 1024px;
  position: relative;
  width: 1440px;
}

.desktop .overlap-group {
  height: 63px;
  left: 351px;
  position: absolute;
  top: 198px;
  width: 245px;
}

.desktop .rectangle {
  background-color: #d9d9d9;
  height: 62px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 245px;
}

.desktop .name {
  background-color: transparent;
  border: 0;
  color: #000000;
  font-family: "Manrope", Helvetica;
  font-size: 20px;
  font-weight: 300;
  height: 62px;
  left: 0;
  letter-spacing: 1px;
  line-height: 13px;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 245px;
}

.desktop .group-2 {
  left: 902px !important;
  position: fixed !important;
  top: 172px !important;
}




.group {
  height: 55px;
  position: relative;
  width: 335px;
}

.desktop .talk-to-an-expert {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 20px;
  font-weight: 300;
  height: 9px;
  left: 63px;
  letter-spacing: 1px;
  line-height: 13px;
  position: absolute;
  text-align: center;
  top: 22px;
  white-space: nowrap;
  width: 209px;
}

.desktop.default {
  background-color: #0536a8;
}

.desktop.variant-2 {
  background-color: #c8982a;
  transition: all 0.2s ease;
}

