.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .frame-wrapper {
  background-color: #ffffff;
  border: 1px none;
  height: 1024px;
  width: 1440px;
}

.desktop .frame {
  align-items: center;
  display: flex;
  gap: 29px;
  left: 64px;
  position: relative;
  top: 125px;
  width: 1312px;
}

.desktop .frame-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 37px;
  position: relative;
}

.desktop .h-1 {
  align-self: stretch;
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 59.8px;
  font-weight: 700;
  letter-spacing: 2.39px;
  line-height: normal;
  margin-top: -1.03px;
  position: relative;
}

.desktop .element-languages-that-2 {
  align-self: stretch;
  color: #383836;
  font-family: "Lato", Helvetica;
  font-size: 21.5px;
  font-weight: 700;
  letter-spacing: 0.65px;
  line-height: 43.1px;
  position: relative;
}

.desktop .design-component-instance-node {
  align-self: stretch !important;
  border-radius: 28.16px !important;
  height: 1px !important;
  margin-bottom: -1px !important;
  min-width: 641.5px !important;
  width: unset !important;
}

.desktop .group-3 {
  font-size: 20.5px !important;
  height: 1px !important;
  left: 121px !important;
  letter-spacing: 1.03px !important;
  line-height: 13.3px !important;
  top: -1px !important;
  width: 400px !important;
}

.desktop .lady-wrapper {
  align-items: flex-start;
  display: flex;
  flex: 1;
  gap: 10px;
  justify-content: flex-end;
  padding: 10px;
  position: relative;
}

.desktop .lady-2 {
  background-image: url(../../../static/img/whatsapp-image-2023-07-12-at-12-41-1-4.png) !important;
  height: 564px !important;
  min-width: 434px !important;
  position: relative !important;
  width: unset !important;
}
