.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div {
  background-color: #ffffff;
  border: 0.99px none;
  height: 1395px;
  position: relative;
  width: 1201px;
}

.desktop .text-wrapper {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 54.5px;
  font-weight: 700;
  left: 131px;
  letter-spacing: 2.18px;
  line-height: normal;
  position: absolute;
  top: 213px;
  width: 532px;
}

.desktop .element-languages-that {
  color: #383836;
  font-family: "Lato", Helvetica;
  font-size: 20.8px;
  font-weight: 700;
  height: 125px;
  left: 131px;
  letter-spacing: 0;
  line-height: 41.6px;
  position: absolute;
  top: 370px;
  width: 573px;
}

.desktop .group-2 {
  height: 54px !important;
  left: 131px !important;
  position: absolute !important;
  top: 523px !important;
  width: 355px !important;
}

.desktop .group-instance {
  font-size: 19.8px !important;
  left: 67px !important;
  letter-spacing: 0.99px !important;
  line-height: 12.9px !important;
  width: 221px !important;
}

.desktop .lady-instance {
  background-image: url(../../../static/img/whatsapp-image-2023-07-12-at-12-41-1.png) !important;
  height: 365px !important;
  left: 790px !important;
  position: absolute !important;
  top: 213px !important;
  width: 282px !important;
}

.desktop .magma-translation-png {
  background-image: url(../../../static/img/magma-translation-png.png) !important;
  height: 61px !important;
  left: 131px !important;
  position: absolute !important;
  top: 50px !important;
  width: 219px !important;
}

.desktop .img {
  height: 171px;
  left: 157px;
  position: absolute;
  top: 791px;
  width: 889px;
}

.desktop .p {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 37.7px;
  font-weight: 700;
  left: 247px;
  letter-spacing: 1.51px;
  line-height: normal;
  position: absolute;
  top: 674px;
  white-space: nowrap;
}
